@import 'styles/scss/variables/colors';
.container {
    top: 30.5%;
    left: 33.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    max-width: 64.6%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%) translateX(-50%);
    transition: z-index linear 0s 0.3s;
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background: $black;
    border: 1px solid $white;
    flex-direction: column;
    padding: 3%;
    top: 44%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: z-index linear 0s 0.3s;
    border-radius: 10px;
}

.closeIcon {
    align-self: flex-end;
    height: 15px;
    width: 15px;

    &:hover {
        cursor: pointer;
    }

    path {
        fill: $white;
    }
}
