.containerToast {
    min-width: 300px;
}

.searchBarIco {
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    position: absolute;
    top: 50px;
    right: 4%;
}
