.containerToast {
    min-width: 300px;
}

.searchBarIco {
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    position: absolute;
    top: 50px;
    right: 4%;
}

@media only screen and (max-width: 767px) {
    .magSearchbar {
        margin-top: 20% !important;
        margin-bottom: -125px !important;
    }

    .searchBarIco {
        margin-top: 15px;
    }
}

.header {
    // background-color: rgba(248, 248, 248, 0.6);
    backdrop-filter: blur(9px);

    box-shadow: 2px 3px 6px rgba(248, 248, 248, 0.3); // @design-shadow

    z-index: 1000;
    position: fixed;
    width: 100% !important;
    top: 0;
    left: 0; /* Add this line to cover the full width */

    //@mobile
    height: 60px;

    @media only screen and (min-width: 320px) {
        height: 70px;
    }

    @media only screen and (min-width: 768px) {
        height: 90px;
    }
}
