.containerToast {
    min-width: 300px;
}

.searchBarIco {
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    position: absolute;
    top: 50px;
    right: 4%;
}

@media only screen and (max-width: 700px) {
    .magSearchbar {
        margin-top: 20% !important;
        margin-bottom: -175px !important;
    }
    .searchBarIco {
        margin-top: 35px;
    }
}
