.outerWrapper {
    top: 0%;
    right: 4%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    max-width: 100%;
    width: 100%;
    transition: z-index linear 0s 0.3s;
}

.containerClose {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 550px;
    width: 100%;
    height: fit-content;
    z-index: 1;
    // margin-bottom: 5%;
    background-color: black;
    padding: 4%;
    border: 1px solid silver;
    border-radius: 4px;
}

.title {
    font-size: large;
    text-transform: uppercase;
    margin-left: 10px;
}

.title:hover {
    color: #ffff32;
}

.title3 {
    font-size: medium;
    color: #fff;
    text-transform: uppercase;
}

.titleGas {
    margin-top: 3%;
    color: lightgrey;
    text-align: center;
}

.txt {
    color: #fff;
}

.toggleHeaderWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 40px;
}

.wrapperEoa {
    display: flex;
    align-items: center;
    padding-left: 3%;
}

.txtEoa {
    font-size: 14px;
    margin-left: 10px;
}

.txtDisconnect {
    font-size: 12px;
    color: #eb5757;
    margin-left: 15px;
    cursor: pointer;
}

.txtAddress {
    font-size: 14px;
    color: silver;
    cursor: pointer;
}

.txtOr {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

.input {
    background-color: #ffffff2e;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    height: 50px;
    font-size: 12px;
}

.inputDisabled {
    background-color: rgb(162, 162, 162);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    height: 50px;
    font-size: 12px;
}

.btnContinueWrapper {
    margin-top: 30px;
    max-width: fit-content;
    display: flex;
}

.toggleMenuWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 3%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toggleMenuWrapper2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 3%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.toggleMenuWrapper:hover {
    color: #ffff32;
}

.toggleMenuWrapper2:hover {
    color: #ffff32;
}

.newSsiSub {
    padding-left: 3%;
    font-size: 17px;
}

.addrSsi {
    color: #ffff32;
    margin-bottom: 5%;
}

.wrapperLogout {
    display: flex;
    cursor: pointer;
    width: 150px;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
}

.txtDomain {
    font-size: 14px;
    margin-top: -20px;
    cursor: pointer;
}

.txtDomain:hover {
    font-size: 14px;
    margin-top: -20px;
    color: #ffff32;
}

.txtDomainList {
    font-size: 14px;
    cursor: pointer;
    word-wrap: break-word;
}

.txtDomainList:hover {
    color: #ffff32;
}

.addrWrapper {
    padding-left: 3%;
}

.wrapperCloseIco {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.wrapperNewSsi {
    margin-left: 6%;
    width: fit-content;
    justify-content: flex-start;
}

.wrapperNewWallet {
    margin-left: 3%;
    width: fit-content;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 50px;
}

.btnNewSsi {
    width: 100%;
    margin-top: -1.5rem;
}

.txtBtnNewWallet {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    text-transform: none;
}

.txtBtnArConnect {
    width: 90%;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.txtList {
    margin-left: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

.txtInput {
    font-size: 14px;
    color: #fff;
}

.addIcon {
    @media only screen and (max-width: 767px) {
        width: 17px;
        margin-top: 0.3rem;
    }
}

.loggedInInfo {
    margin-bottom: 30px;
}

.topLoginWrapper {
    margin-top: 17px;
    margin-bottom: 14px;
}

@media only screen and (max-width: 767px) {
    .outerWrapper {
        top: 0%;
        right: 0%;
        justify-content: center;
    }

    .container {
        width: 90%;
        // padding: 4%;
        // padding-left: 20px;
        // padding-right: 20px;
        margin-top: 75px;
    }

    .input {
        width: 80%;
    }

    .inputDisabled {
        width: 80%;
    }

    .txtAddress {
        font-size: 9px;
    }

    .txtDomain {
        font-size: 12px;
    }

    .txtDomainList {
        font-size: 12px;
    }

    .btnNewSsi {
        width: 90%;
    }

    .txtBtnArConnect {
        font-size: 10px;
    }

    // .title1,
    // .title,
    .txt {
        font-size: large;
    }

    .txtEoa,
    .newSsiSub,
    .title3,
    .txtBtnNewWallet {
        font-size: 12px;
    }

    .txtInput,
    .txtOr {
        font-size: 10px;
    }

    .titleGas {
        font-size: 8px;
    }

    .txtList {
        font-size: 12px;
    }

    .txtDisconnect {
        font-size: 12px;
    }

    .wrapperLogout {
        margin-bottom: 10px;
    }

    // .addIcon {
    //     width: 12px;
    //     margin-top: 0.3rem;
    // }

    .arrowIco {
        width: 17px;
        display: flex;
        // justify-content: center;
    }

    .logOffIco {
        width: 12px;
    }

    .loginWrapper {
        margin-top: -1rem;
    }

    .input,
    .inputDisabled {
        height: 30px;
    }

    .headerWrapper {
        margin-top: -1rem;
    }

    // .toggleHeaderWrapper {
    //     margin-top: -1rem;
    // }

    .toggleMenuWrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .toggleMenuWrapper2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .loggedInInfo {
        margin-bottom: 0px;
    }
}

.icoWrapper {
    display: flex;
    justify-content: flex-start;
}
