.outerWrapper {
    top: 0%;
    right: 4%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    max-width: 100%;
    width: 100%;
    transition: z-index linear 0s 0.3s;
}

.containerClose {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 600px;
    width: 100%;
    height: fit-content;
    z-index: 1;
    margin-bottom: 5%;
    background-color: #dbe4eb;
    padding: 30px;
    border: 2px solid #000;
    border-radius: 6px;
}

.title1 {
    font-size: 20px;
    color: #000;
}

.title2 {
    font-size: 20px;
    margin-top: 20px;
    color: #000;
}

.title2:hover {
    color: #ffff32;
}

.title3 {
    margin-top: 9%;
    font-size: 16px;
    color: #000;
}

.titleGas {
    margin-top: 3%;
    color: #000;
    text-align: center;
}

.txt {
    color: #000;
}

.toggleHeaderWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    margin-top: -20px;
}

.wrapperEoa {
    display: flex;
    align-items: center;
    padding-left: 3%;
}

.txtEoa {
    font-size: 16px;
    margin-left: 10px;
    color: #000;
}

.txtDisconnect {
    font-size: 12px;
    color: #eb5757;
    margin-left: 15px;
    cursor: pointer;
}

.txtAddress {
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.txtOr {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #000;
}

.input {
    background-color: #ffffff2e;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    height: 50px;
    font-size: 12px;
    color: #000;
}

.inputDisabled {
    background-color: rgb(162, 162, 162);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    height: 50px;
    font-size: 12px;
}

.btnContinueWrapper {
    margin-top: 30px;
    max-width: fit-content;
    display: flex;
}

.toggleMenuWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    margin-top: -30px;
    padding-left: 3%;
    align-items: center;
}

.toggleMenuWrapper2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 3%;
    align-items: center;
    color: #000;
}

.toggleMenuWrapper:hover {
    color: #ffff32;
}

.toggleMenuWrapper2:hover {
    color: #ffff32;
}

.newSsiSub {
    font-size: 16px;
    color: #000;
}

.addrSsi {
    color: #000;
    margin-bottom: 5%;
}

.wrapperLogout {
    display: flex;
    cursor: pointer;
    width: 150px;
    align-items: center;
    margin-top: 30px;
}

.txtDomain {
    font-size: 14px;
    margin-top: -20px;
    cursor: pointer;
    color: #000;
}

.txtDomain:hover {
    font-size: 14px;
    margin-top: -20px;
    color: #ffff32;
}

.txtDomainList {
    font-size: 14px;
    cursor: pointer;
    color: #000;
}

.txtDomainList:hover {
    color: #ffff32;
}

.addrWrapper {
    padding-left: 3%;
}

.wrapperCloseIco {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7%;
}

.wrapperNewSsi {
    margin-left: 6%;
    width: fit-content;
}

.wrapperNewSsi2 {
    margin-left: 3%;
    width: fit-content;
    justify-content: flex-start;
}

.txtBtnNewSsi {
    width: 90%;
    word-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
}

.txtBtnArConnect {
    width: 90%;
    word-wrap: break-word;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
}

.txtList {
    text-transform: uppercase;
    font-size: 14px;
}

.txtInput {
    font-size: 14px;
    color: #000;
}

@media only screen and (max-width: 600px) {
    .outerWrapper {
        top: 0%;
        right: 0%;
        justify-content: center;
    }

    .container {
        width: 90%;
        padding: 2%;
    }

    .input {
        width: 80%;
    }

    .inputDisabled {
        width: 80%;
    }

    .txtAddress {
        font-size: 10px;
    }

    .txtDomain {
        font-size: 10px;
    }

    .txtDomainList {
        font-size: 10px;
    }

    .btnNewSsi {
        width: 90%;
    }

    .txtBtnArConnect {
        font-size: 10px;
    }

    .title1,
    .title2 {
        font-size: 14px;
    }

    .txtEoa,
    .newSsiSub,
    .txtOr,
    .title3,
    .txtInput {
        font-size: 12px;
    }

    .txtList {
        font-size: 10px;
    }

    .wrapperLogout {
        margin-bottom: 20px;
    }
}
