.docInfo {
    background-color: #ffffff2e;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

.blockHead {
    text-transform: capitalize !important;
    margin: 10px 0;
    word-break: break-all;
    letter-spacing: unset !important;
}

.did {
    margin: 10px 0;
    word-break: break-all;
}

.message {
    margin: 10px 0;
    background-color: #ffffff2e;
}
