.outerWrapper {
    top: 0%;
    left: 0%;
    display: flex;
    position: absolute;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    transition: z-index linear 0s 0.3s;
}

.container {
    display: flex;
    position: absolute;
    max-width: 900px;
    width: 100%;
    height: fit-content;
    z-index: 1;
    margin-top: -20%;
}

.innerContainer {
    display: flex;
    position: absolute;
    width: 100%;
    background: #dbe4eb;
    border: 1px solid #000;
    flex-direction: column;
    padding: 5%;
    border-radius: 10px;
}

.innerContainer2 {
    display: flex;
    position: relative;
    width: 100%;
    background: #ffffff2e;
    border: 1px solid white;
    flex-direction: column;
    padding: 5%;
    border-radius: 10px;
}

.headerWrapper {
    display: flex;
    align-items: center;
}

.headerTxt {
    font-size: 24px;
    margin-left: 10px;
    margin-top: 7px;
    color: #000;
}

.contentWrapper {
    margin-top: 30px;
    margin-inline: 20px;
}

.txt {
    color: #000;
    word-wrap: break-word;
}

.selector {
    margin-top: 10px;
    margin-bottom: 30px;
}

.wrapperInput {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputCurrency {
    border-color: #000;
    color: #000;
    width: 40% !important;
}

.code {
    color: #000;
    width: 80px !important;
}

.wrapperBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .inputCurrency {
        width: 70% !important;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 90%;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        margin-top: 10%;
    }
}
