.docInfo {
  background-color: #ffffff2e;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0;
  width: 300px;
}

.blockHead {
  color: silver;
  text-transform: uppercase !important;
  margin-top: 10%;
  margin-bottom: 7%;
  word-break: break-all;
  letter-spacing: unset !important;
}

.did {
  margin: 10px 0;
  word-break: break-all;
  text-transform: lowercase !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 520;
  color: whitesmoke;
}

.didkey {
  margin: 10px 0;
  word-break: break-all;
  font-family: "Source Sans Pro", sans-serif;
  color: whitesmoke;
}

.id {
  text-transform: uppercase !important;
  margin: 10px 0;
  margin-right: 3%;
  word-break: break-all;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: whitesmoke;
}

.card {
  display: flex;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #fff;
  background-color: #ffffff2e;
  cursor: pointer;
  letter-spacing: 0.2rem;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 1 !important;
}

.cardTitle {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 950;
  color: whitesmoke;
  font-size: 16px;
}

.cardTitle2 {
  display: none;
}

.card:hover .cardTitle2 {
  display: contents;
  font-size: 11px;
  color: #fff;
  font-weight: 100;
  max-width: 100px;
}

.card:hover .cardTitle {
  display: none;
}

.button {
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  outline: 0;
  background-color: #ffffff2e;
  cursor: pointer;
  padding: 0 0.6rem 0 0.8rem;
  letter-spacing: 0.2rem;
  max-width: fit-content;
}

.buttonText {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
