.container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 8%;
}
