.container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 90%;
  margin-top: 7%;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 5%;
}

.x {
  color: yellow;
}

.username {
  color: yellow;
  text-transform: lowercase !important;
}

.button {
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 7px;
  outline: 0;
  cursor: pointer;
  padding: 0 0.6rem 0 0.8rem;
}

.buttonText {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: whitesmoke;
}

.buttonColorText {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: lightblue;
}

.buttonColorDText {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: red;
}
