.wrapper {
    font-size: 9px;
    padding: 5px;
    background-color: rgba($color: #fff, $alpha: 0.1);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10%;
    border: 1px solid yellow;
}
