@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.wrapper {
    margin-bottom: 14%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.contentWrapper {
    width: 600px;
}

.picker {
    margin-top: 5%;
    margin-bottom: 5%;
}

.wrapperNftOption {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.optionIco {
    margin-right: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .contentWrapper {
        width: 100%;
    }
}
