@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.backIco {
    text-align: left;
    cursor: pointer;
}

.headline {
    color: silver;
    margin-bottom: 70px;
}

.title {
    color: #ffff32;
    text-transform: uppercase !important;
    margin-top: 70px;
    margin-bottom: 40px;
    word-break: break-all;
    letter-spacing: unset !important;
}

.docInfo {
    background-color: #ffffff2e;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
    width: 103%;
    display: flex;
    flex-direction: 'column';
}

.blockHead {
    color: silver;
    text-transform: uppercase !important;
    word-break: break-all;
    letter-spacing: unset !important;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    min-width: fit-content;
}

.did {
    margin: 14px 0;
    word-break: break-all;
    text-transform: lowercase !important;
    font-family: 'Noto Sans Mono';
    font-weight: 520;
    color: #ffff32;
}

.didkey {
    margin: 10px 0;
    word-break: break-all;
    font-family: 'Noto Sans Mono';
    color: whitesmoke;
}

.id {
    text-transform: uppercase !important;
    margin: 10px 0;
    margin-right: 3%;
    word-break: break-all;
    font-family: 'Noto Sans Mono';
    font-weight: 500;
    color: whitesmoke;
}

.buttonBack {
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    outline: 0;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
    letter-spacing: 0.1rem;
    max-width: fit-content;
}

.buttonBackText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 400;
    color: silver;
}

.flipCard {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin-left: 10px;
    margin-right: 10px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.flipCardFront {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #ffff32;
    background-color: #ffffff2e;
    cursor: pointer;
    letter-spacing: 0.2rem;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 1 !important;
}

.flipCardBack {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #000;
    cursor: pointer;
    letter-spacing: 0.2rem;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 1 !important;
    transform: rotateY(180deg);
}

.cardTitle2 {
    display: contents;
    font-size: 11px;
    color: #fff;
    font-weight: 100;
    color: yellow;
    max-width: 20px;
}

.cardTitle3 {
    display: contents;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    color: #fff;
    font-size: 17px;
}

@media only screen and (max-width: 500px) {
    .flipCard {
        width: 120px;
        height: 120px;
    }

    .flipCardFront {
        width: 120px;
        height: 120px;
    }

    .flipCardFront2 {
        width: 120px;
        height: 120px;
    }

    .flipCardBack {
        width: 120px;
        height: 120px;
    }

    .xText {
        margin-top: 55px;
    }

    .cardTitle2 {
        font-size: 9px;
    }

    .cardTitle2 {
        font-size: 9px;
    }

    .cardTitle3 {
        font-size: 15px;
    }
}
