@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.container {
    margin-top: 5%;
}

.arrowWrapper {
    height: 2.75rem;
    display: flex;
    align-items: center;
}

.input {
    width: 40% !important;
    margin-right: 3%;
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.gasTxt {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}