.container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 14%;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 5%;
}

.button {
    position: absolute !important;
    right: 0%;
    bottom: 30px;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    height: 2.75rem;
    letter-spacing: 0.2rem;
    line-height: 2.75rem;
    outline: 0;
    padding: 0 1.25rem 0 1.35rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #ffffff2e;
}

.x {
    color: yellow;
}

.username {
    color: yellow;
    text-transform: lowercase !important;
}

.buttonText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.buttonColorText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.buttonBlueText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: lightblue;
}

.containerInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}
