/* .wrapper { */
/* margin-top: 11%; */
/* margin-bottom: -3%; */
/* width: 100%;
    display: flex; */
/* flex-direction: column; */
/* align-items: center;
    padding-left: 2%;
    padding-right: 2%; */
/* }

.footer {
    -moz-transition: -moz-transform 0.325s ease-in-out,
        -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    -webkit-transition: -webkit-transform 0.325s ease-in-out,
        -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    -ms-transition: -ms-transform 0.325s ease-in-out,
        -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out,
        opacity 0.325s ease-in-out;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

.languageSelector {
    width: 100%;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
}

.dropdownCheckList {
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    color: #000;
}

.wrapperOption {
    margin-bottom: 5px;
    background-color: #dbe4eb;
    padding: 5px;
    width: 110px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.option {
    display: flex;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 10px;
    color: #000;
    cursor: pointer;
}
