/* .wrapper {
    margin-top: 10%; */
/* margin-bottom: -3%; */
/* width: 100%;
    display: flex;
    flex-direction: column; */
/* align-items: center; */
/* padding-left: 2%; */
/* padding-right: 2%; */
/* }

.footer {
    -moz-transition: -moz-transform 0.325s ease-in-out,
        -moz-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    -webkit-transition: -webkit-transform 0.325s ease-in-out,
        -webkit-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    -ms-transition: -ms-transform 0.325s ease-in-out,
        -ms-filter 0.325s ease-in-out, opacity 0.325s ease-in-out;
    transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out,
        opacity 0.325s ease-in-out;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

.languageSelectorWrapper {
    margin-top: -5px;
}

.languageSelector {
    width: 100%;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
}

.dropdownCheckListWrapper {
    width: 170px;
}

.dropdownCheckList {
    cursor: pointer;
    border: 1px solid rgb(182, 182, 182);
    padding: 5px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapperOption {
    margin-bottom: 5px;
    background-color: #000;
    padding: 5px;
    width: 110px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
}

.option {
    display: flex;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 10px;
    color: #dbe4eb;
    cursor: pointer;
}

.closeWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.tyronLg {
    cursor: pointer;
    margin-top: 33%;

    @media only screen and (max-width: 576px) {
        width: 111px;
    }
}

.dummy {
    display: flex;
    width: 170px;
}

@media only screen and (max-width: 850px) {
    /* .wrapper {
        margin-bottom: 0%;
        padding-left: 0%;
        padding-right: 0%;
    } */
    /* 
    .footer {
        width: 95%;
    } */

    .languageSelectorWrapper {
        margin-bottom: -0.5rem;
    }

    .dropdownCheckListWrapper {
        width: 80px;
    }

    /* .tyronLg {
        width: 120px;
        margin-bottom: -3px;
        margin-right: -1rem;
    } */

    .dummy {
        display: none;
    }
}
