.container {
    text-align: center;
}

.searchDiv {
    display: flex;
}

.searchBar {
    margin-left: 3%;
    margin-right: 1%;
    text-transform: lowercase;
}

.searchBtn {
    background-color: #ffffff2e;
    color: white !important;
    border-radius: 4px;
}
