@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.container {
    margin-top: 5%;
}

.arrowWrapper {
    height: 2.75rem;
    display: flex;
    align-items: center;
}

.input {
    width: 100% !important;
    margin-right: 3%;
    text-transform: lowercase !important;
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.gascost {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.btnWrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
