// @import 'styles/scss/variables/colors';
.outerWrapper {
    top: 0%;
    left: 0%;
    display: flex;
    position: absolute;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    transition: z-index linear 0s 0.3s;
}

.container {
    top: -10%;
    left: 50%;
    display: flex;
    position: absolute;
    max-width: 700px;
    width: 100%;
    height: fit-content;
    transform: translateY(-50%) translateX(-50%);
    transition: z-index linear 0s 0.3s;
    z-index: 1;
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    border: 1px solid #000;
    flex-direction: column;
    padding: 2%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: z-index linear 0s 0.3s;
    border-radius: 10px;
    background-color: #dbe4eb;
}

.closeIcon {
    align-self: flex-end;
    height: 15px;
    width: 15px;
    margin-left: 20px;

    &:hover {
        cursor: pointer;
    }

    path {
        fill: #ffffff2e;
    }
}

.actionIcoWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.txt {
    color: #000;
}

@media only screen and (max-width: 320px) {
    .container {
        top: 40%;
        width: 90%;
    }
}

@media only screen and (min-width: 375px) {
    .container {
        top: 35%;
        width: 90%;
    }
}

@media only screen and (min-width: 425px) {
    .container {
        top: 40%;
    }
}

@media only screen and (min-width: 550px) {
    .container {
        top: 30%;
    }
}

@media only screen and (min-width: 750px) {
    .container {
        top: 35%;
    }
}

@media only screen and (min-width: 950px) {
    .container {
        top: 30%;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        top: 40%;
    }
}

@media only screen and (min-width: 2500px) {
    .container {
        top: 30%;
    }
}
