.wrapper {
    position: absolute !important;
    top: 22px;
    right: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapperIcon {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.wrapperIcon:hover .tooltiptext {
    visibility: visible;
}

.txtConnected {
    font-size: 11px;
    color: #333333;
    margin-left: 10px;
    text-transform: uppercase;
    border: 1px solid #dbe4eb;
    border-radius: 5px;
    padding: 5px;
}

.txtConnected:hover {
    color: #333333;
    border: 1px solid #fff;
    background-color: rgba($color: #fff, $alpha: 0.1);
}

.txtLoggedIn {
    font-size: 11px;
    color: #ffff32;
    border: 1px solid #dbe4eb;
    border-radius: 5px;
    padding: 5px;
}

.txtLoggedIn:hover {
    color: #ffff32;
    border: 1px solid #fff;
    background-color: rgba($color: #fff, $alpha: 0.1);
}

.txtConnect {
    font-size: 11px;
    color: #333333;
    margin-left: 10px;
    border: 1px solid #dbe4eb;
    border-radius: 5px;
    padding: 5px;
}

.txtConnect:hover {
    color: #333333;
    border: 1px solid #fff;
    background-color: rgba($color: #fff, $alpha: 0.1);
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip .tooltiptext {
    width: 120px;
    visibility: hidden;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #333333;
    background-color: #dbe4eb;
    color: #333333;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 100%;
}

.toggleLight {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggleDark {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .wrapper {
        top: 11px;
    }

    .tooltip .tooltiptext {
        margin-left: -4rem;
    }
}
