.wrapper {
    position: absolute !important;
    top: 40px;
    right: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
}

.wrapperIcon {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.wrapperIcon:hover .tooltiptext {
    visibility: visible;
}

.txtConnected {
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    text-transform: uppercase;
}

.txtLoggedIn {
    font-size: 14px;
    color: #f9e600;
}

.txtConnect {
    font-size: 14px;
    color: #000;
    margin-left: 10px;
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip .tooltiptext {
    width: 120px;
    visibility: hidden;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #dbe4eb;
    color: #000;
    text-align: left;
    position: absolute;
    z-index: 2;
    top: 100%;
}

.toggleLight {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 1rem;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggleDark {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 1rem;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .wrapper {
        top: 10px;
    }
    .tooltip .tooltiptext {
        margin-left: -2rem;
    }
}
