.wrapper {
    position: absolute !important;
    top: 22px;
    right: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // min-height: 50px;
}

.wrapperIcon {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.wrapperIcon:hover .tooltiptext {
    visibility: visible;
}

.txtConnected {
    font-size: 11px;
    color: #ffff32;
    margin-left: 10px;
    text-transform: uppercase;
    // border: 1px solid #dbe4eb;
    // border-radius: 5px;
    padding: 5px;
    cursor: none;
}

// .txtConnected:hover {
//     color: #dbe4eb;
//     border: 1px solid #fff;
//     background-color: rgba($color: #fff, $alpha: 0.1);
// }

.txtLoggedIn {
    font-size: 11px;
    color: #f9e600;
    border: 1px solid #dbe4eb;
    border-radius: 5px;
    padding: 5px;
}

.txtLoggedIn:hover {
    color: #f9e600;
    border: 1px solid #fff;
    background-color: rgba($color: #fff, $alpha: 0.1);
}

$font-anonymous-pro: 'Anonymous Pro', monospace;
.txtConnect {
    box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.6); // @design-shadow

    white-space: nowrap;
    color: #f8f8f8;
    margin: 10px;
    background-color: #a238ff;
    border-radius: 22px;
    padding: 7%;

    font-size: 11px;
    font-family: $font-anonymous-pro;

    @media only screen and (min-width: 320px) {
        // @design-mobile
        font-size: 14px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 17px;
    }
}

.txtConnect:hover {
    cursor: pointer !important;
    color: #a238ff;
    border: 1px solid #ffff32;
    background-color: #f8f8f8//rgba($color: #fff, $alpha: 0.1);
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip .tooltiptext {
    width: 120px;
    visibility: hidden;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 100%;
}

.toggleLight {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggleDark {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .wrapper {
        top: 11px;
    }

    .tooltip .tooltiptext {
        margin-left: -4rem;
    }
}
