.wrapper {
    position: absolute !important;
    top: 40px;
    right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperIcon {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.txtConnected {
    font-size: 14px;
    color: #dbe4eb;
    margin-left: 10px;
    text-transform: uppercase;
}

.txtLoggedIn {
    font-size: 14px;
    color: #f9e600;
    margin-left: 10px;
}

.txtConnect {
    font-size: 14px;
    color: grey;
    margin-left: 10px;
}
