.input {
    width: 51% !important;
    color: #fff !important;
    margin-right: 10px;
}

.codeXp {
    margin-left: 4%;
    margin-right: 4%;
    color: #fff !important;
}

.wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    text-align: left;
    border: 1px solid #ffff32;
    border-radius: 5px;
    padding: 1rem;
}

.wrapper0 {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.wrapperInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btnDesktop {
    display: contents;
}

.btnMobile {
    display: none;
}

.closeIcoWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -30px;
}

.closeIco {
    right: 5px;
    top: 5px;
    cursor: pointer;
    margin-top: -20px;
    margin-right: -10px;
}

.restoreIcoWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.componentMinimized {
    width: 388px;
    height: 108px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border: 1px solid #dbe4eb;
    background-color: rgba($color: #fff, $alpha: 0.2);
    cursor: pointer;
    flex-direction: column;
}

.restoreIco {
    margin-bottom: -1.75rem;
    margin-right: -0.5rem;
}

@media only screen and (max-width: 700px) {
    .input {
        width: 51% !important;
        margin-right: 10px;
    }

    .codeXp {
        margin-left: 0px;
        margin-right: 10px;
        color: #fff !important;
    }

    .wrapper {
        text-align: center;
        padding-top: 20px;
    }

    .btnDesktop {
        display: none;
    }

    .btnMobile {
        display: flex;
        margin-top: 20px;
    }

    .closeIcoWrapper {
        margin-bottom: -10px;
    }

    .closeIco {
        margin-top: -25px;
        margin-right: -10px;
    }

    .componentMinimized {
        width: 200px;
        height: 90px;
    }

    .restoreIco {
        margin-bottom: -5rem;
        margin-right: -1.5rem;
    }
}
