.input {
    width: 30% !important;
    color: #fff !important;
}

.codeXp {
    margin-left: 3%;
    margin-right: 5%;
    color: #fff !important;
}

.wrapper {
    margin-top: 12%;
    margin-bottom: 12%;
    width: 100%;
    text-align: left;
}

.wrapperInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 700px) {
    .input {
        width: 35% !important;
    }
    .codeXp {
        margin-left: 0px;
        margin-right: 10px;
        color: #fff !important;
    }
    .wrapper {
        text-align: center;
    }
    .wrapperInput {
        justify-content: center;
    }
}
