.input {
    width: 30% !important;
    color: #fff !important;
}

.codeXp {
    margin-left: 3%;
    margin-right: 5%;
    color: #fff !important;
}

.wrapper {
    margin-top: 12%;
    margin-bottom: 12%;
    width: 100%;
    text-align: left;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1rem;
}

.wrapper0 {
    margin-top: 12%;
    margin-bottom: 12%;
}

.wrapperInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btnDesktop {
    display: contents;
}

.btnMobile {
    display: none;
}

.closeIcoWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -30px;
}

.closeIco {
    right: 5px;
    top: 5px;
    cursor: pointer;
    margin-top: -20px;
    margin-right: -10px;
}

@media only screen and (max-width: 700px) {
    .input {
        width: 35% !important;
    }

    .codeXp {
        margin-left: 0px;
        margin-right: 10px;
        color: #fff !important;
    }

    .wrapper {
        text-align: center;
        padding-top: 20px;
    }

    .btnDesktop {
        display: none;
    }

    .btnMobile {
        display: flex;
        margin-top: 20px;
    }

    .closeIcoWrapper {
        margin-bottom: -10px;
    }

    .closeIco {
        margin-top: -25px;
        margin-right: -10px;
    }
}
