.wrapper {
    width: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 12rem;
}

.wrapperBreadcrumbs {
    width: 100%;
    text-align: left;
    margin-top: -10%;
    margin-bottom: 7%;
}

.txtBreadcrumbs {
    font-size: 11px;
    color: #fff;
    line-height: 25px;
}

.txtBreadcrumbsSpan:hover {
    color: #6c00ad;
    cursor: pointer;
}

.txtBreadcrumbsSpanBlue:hover {
    color: #0000ff;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .wrapper,
    .wrapper2 {
        margin-top: 150px;
        padding-left: 0%;
    }
    .txtBreadcrumbs {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1600px) {
    .wrapper {
        margin-top: 10rem;
    }
}

@media only screen and (min-width: 1400px) {
    .txtBreadcrumbs {
        font-size: 20px;
    }
}
