.wrapper {
    width: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10rem;
}

.wrapperBreadcrumbs {
    width: 100%;
    text-align: left;
    margin-bottom: 7%;
}

.txtBreadcrumbs {
    color: #fff;
    font-size: medium;
    line-height: 27px;
}

.txtBreadcrumbsSpan:hover {
    color: #ffff32;
    cursor: pointer;
}

.txtBreadcrumbsSpanBlue:hover {
    color: #0000ff;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .wrapper {
        padding-left: 0%;
    }

    .txtBreadcrumbs {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1600px) {
    .wrapper {
        margin-top: 10rem;
    }
}
