.wrapper {
    width: 100%;
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.wrapperBreadcrumbs {
    width: 100%;
    text-align: left;
    margin-top: -10%;
    margin-bottom: 7%;
}

.txtBreadcrumbs {
    font-size: 11px;
}

.txtBreadcrumbsSpan:hover {
    color: #ffff32;
    cursor: pointer;
}

.txtNameBreadcrumbsSpan {
    color: #ffff32;
}

.txtNameBreadcrumbsSpan:hover {
    color: #dbe4eb;
    cursor: pointer;
}

@media only screen and (min-width: 1400px) {
    .txtBreadcrumbs {
        font-size: 20px;
    }
}
