@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.flipCard {
    width: 388px;
    height: 108px;
    perspective: 1000px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: -405px;
    margin-top: 5px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.socialCard,
.socialCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.socialCard {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 2px;
    border-style: solid;
}

.socialCardBack {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    transform: rotateY(180deg);
}

.socialCardIco {
    width: 36px;
    height: 36px;
    background-color: rgba($color: #d9d9d9, $alpha: 0.1);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .serviceKey {
        width: 90%;
    }
    .serviceKeyReplace {
        width: 90%;
    }
    .txtNewLink {
        width: 100%;
    }
    .commonLinksWrapper {
        width: 90%;
    }
    .dropdownCheckListWrapper,
    .wrapperOption {
        width: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .flipCard {
        width: 90%;
    }
}

@media only screen and (max-width: 1200px) {
    .flipCard {
        margin-left: 0px;
        margin-right: 0px;
    }
}
