.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    // background-color: #dbe4eb;
    border-radius: 3px;
    padding: 1%;
    margin-top: 3%;
}

.header {
    background-color: rgba($color: #ffff32, $alpha: 0.5);
}

.row {
    background-color: transparent !important;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
}

.btnAction {
    cursor: pointer;
    text-transform: uppercase;
    width: auto;
    height: auto;
    font-size: medium;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 5px;
    background-color: rgba($color: #222222, $alpha: 0.5);
    border-radius: 3px;

    @media only screen and (max-width: 767px) {
        /* Mobile specific styles */
        font-size: small;
    }
}

.txtList {
    font-size: medium;
    color: #000;

    @media only screen and (max-width: 576px) {
        font-size: small;
    }
}

.txtListTitle {
    font-size: medium;
    color: #000;
    font-weight: 900;
    margin-left: 3px;
}

.addCurrencyWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2%;
    align-items: flex-start;
}

.headerWrapper {
    padding-left: 0px !important;
}

.dropdownCheckListWrapper {
    margin-bottom: 4%;
    width: fit-content;
}

.dropdownCheckList {
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px;
    font-size: small;
    border-radius: 4px;
    color: #000;
}

.wrapperOption {
    margin-top: 1%;
    background-color: #dbe4eb;
    padding: 10px;
    position: absolute;
    width: 250px;
    border: 1px solid #000;
    border-radius: 4px;
}

.wrapperOptionList {
    max-height: 300px;
    overflow: auto;
}

.wrapperBtnShowAndHide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.btnShowSmall {
    width: 120px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
    color: #000;
}

.inputSearchCoin {
    background-color: #fff !important;
    width: 110px !important;
    height: 25px !important;
    padding: 0px !important;
    border-radius: 5px;
    border: none;
    color: #000 !important;
    font-size: 14px !important;
    margin-bottom: 10px;
}

.option {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    color: #dbe4eb;
    cursor: pointer;
}

.optionIco {
    margin-top: 3px;
    margin-right: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.thunder {
    cursor: pointer;
    border-radius: 50%;
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
}

.thunder:hover {
    border: 1px solid #ffff32;
}

.closeWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
}

.wrapperIcoContinue {
    z-index: 1;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.refreshIcoWrapper {
    display: flex;
    justify-content: flex-end;
}

.refreshIco {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.txt {
    color: #000;
    font-size: 700;
}

.title {
    font-size: large;
    color: #000;
    text-transform: uppercase !important;
    word-break: break-all;
    letter-spacing: unset !important;
    // margin-bottom: 2rem;
}

.tbl {
    display: contents;
}

.tblMobile {
    display: contents; //none;
}

.headerMobile {
    background-color: rgba($color: #ffff32, $alpha: 0.5) !important;
    border-top: 0px !important;
}

.buttonWrapperMobile {
    display: flex;
    flex-direction: column;
    //justify-content: flex-end;
    margin-right: -7px;
}

.tdMobile {
    display: flex;
}

.tdMobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.refreshIcoMobile {
    display: none;
}

//@css: full-width
.wrapperSelectBtn {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .wrapperSelectBtn {
        flex-direction: column;
    }
}

@media only screen and (max-width: 850px) {
    // .title {
    //     margin-bottom: 2rem;
    // }

    .tbl {
        display: none;
    }

    .tblMobile {
        display: contents;
    }

    // .txtList {
    //     font-size: 14px;
    //     max-width: 11rem;
    //     word-wrap: break-word;
    //     text-align: left;
    // }

    .buttonWrapper {
        flex-direction: column;
    }

    .headerWrapper {
        width: 100%;
        flex-direction: column;
    }

    .refreshIcoMobile {
        display: flex;
        width: 12px;
        height: 12px;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        cursor: pointer;
    }

    .thunder {
        margin-right: 0px;
    }

    .row {
        border-color: rgba($color: #fff, $alpha: 0.5) !important;
    }
}

@media only screen and (min-width: 1800px) {
    .refreshIco {
        margin-top: -7px;
    }
}

.icoWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titleFunds {
    font-size: small;
    color: #dbe4eb;
    text-transform: uppercase !important;
    word-break: break-all;
    letter-spacing: unset !important;
    padding-left: 4%;
    width: 65px;
    display: flex;
}
