.dotFlashing {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #ffff32;
    color: #ffff32;
    animation: dotFlashingFrame 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dotFlashing::before,
.dotFlashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dotFlashing::before {
    left: -11px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #ffff32;
    color: #ffff32;
    animation: dotFlashingFrame 1s infinite alternate;
    animation-delay: 0s;
}

.dotFlashing::after {
    left: 11px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #ffff32;
    color: #ffff32;
    animation: dotFlashingFrame 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dotFlashingFrame {
    0% {
        background-color: #ffff32;
    }

    50%,
    100% {
        background-color: #fcfcfc58;
    }
}

.dotFlashingBasic {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    animation: dotFlashingFrameBasic 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dotFlashingBasic::before,
.dotFlashingBasic::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dotFlashingBasic::before {
    left: -11px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    animation: dotFlashingFrameBasic 1s infinite alternate;
    animation-delay: 0s;
}

.dotFlashingBasic::after {
    left: 11px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    animation: dotFlashingFrameBasic 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dotFlashingFrameBasic {
    0% {
        background-color: #fff;
    }

    50%,
    100% {
        background-color: #fcfcfc58;
    }
}

.dotFlashingLight {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #ffff32;
    color: #ffff32;
    animation: dotFlashingFrameLight 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dotFlashingLight::before,
.dotFlashingLight::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dotFlashingLight::before {
    left: -11px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #ffff32;
    color: #ffff32;
    animation: dotFlashingFrameLight 1s infinite alternate;
    animation-delay: 0s;
}

.dotFlashingLight::after {
    left: 11px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #ffff32;
    color: #ffff32;
    animation: dotFlashingFrameLight 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dotFlashingFrameLight {
    0% {
        background-color: #ffff32;
    }

    50%,
    100% {
        background-color: rgba(0, 0, 0, 0.537);
    }
}

.dotFlashingBlack {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #000;
    color: #000;
    animation: dotFlashingFrameBlack 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dotFlashingBlack::before,
.dotFlashingBlack::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.dotFlashingBlack::before {
    left: -11px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #000;
    color: #000;
    animation: dotFlashingFrameBlack 1s infinite alternate;
    animation-delay: 0s;
}

.dotFlashingBlack::after {
    left: 11px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: #000;
    color: #000;
    animation: dotFlashingFrameBlack 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dotFlashingFrameBlack {
    0% {
        background-color: #000;
    }

    50%,
    100% {
        background-color: #fcfcfc58;
    }
}

@media only screen and (max-width: 700px) {
    .dotFlashing,
    .dotFlashing::before,
    .dotFlashing::after,
    .dotFlashingLight,
    .dotFlashingLight::before,
    .dotFlashingLight::after,
    .dotFlashingBlack,
    .dotFlashingBlack::before,
    .dotFlashingBlack::after,
    .dotFlashingBasic,
    .dotFlashingBasic::before,
    .dotFlashingBasic::after {
        width: 5px;
        height: 5px;
    }

    .dotFlashing::before,
    .dotFlashingLight::before,
    .dotFlashingBlack::before,
    .dotFlashingBasic::before {
        left: -7.5px;
    }

    .dotFlashing::after,
    .dotFlashingLight::after,
    .dotFlashingBlack::after,
    .dotFlashingBasic::after {
        left: 7.5px;
    }
}
