.docInfo {
    background-color: #ffffff2e;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

.blockHead {
    text-transform: uppercase !important;
    margin: 10px 0;
    word-break: break-all;
    letter-spacing: unset !important;
}

.did {
    margin: 10px 0;
    word-break: break-all;
    text-transform: lowercase !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 550;
    color: lightblue;
}

.message {
    margin: 10px 0;
    background-color: #ffffff2e;
}

.button {
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    border-radius: 4px;
    height: 2rem;
    line-height: 1.75rem;
    font-size: 0.2rem;
    cursor: pointer;
    letter-spacing: 0.2rem;
    outline: 0;
    padding: 0 0.6rem 0 0.8rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.buttonText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: whitesmoke;
}
