.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.error {
    position: absolute !important;
    left: 0%;
    bottom: -10%;
    display: inline-block;
}
