.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    width: 100%;
    transition: z-index linear 0s 0.3s;
    align-items: center;
}

.cardActiveWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: fit-content;
}

.tabWrapper {
    display: flex;
    flex-direction: row;
    // @media only screen and (max-width: 168px) {
    //     width: 92%;
    // }
}

.title {
    font-size: 1.1rem;
    text-transform: none;
    text-align: center;
    width: 100%;
    margin: 3rem 0rem;
}

.title2 {
    font-size: 17px;
    color: #dbe4eb;
    text-transform: uppercase;
    padding-left: 10px;
    margin-right: 17px;
    @media only screen and (max-width: 168px) {
        font-size: 14px;
    }
}

.card,
.cardSelect {
    font-size: 1rem;
    height: 3rem;
    gap: 0.5rem;

    text-shadow: 0 0 1px rgba(248, 248, 248, 0.4),
        0 0 2px rgba(248, 248, 248, 0.3), 0 0 3px rgba(248, 248, 248, 0.2);

    font-weight: bolder;
    text-transform: uppercase;
    white-space: nowrap;

    cursor: pointer;
    display: flex;
    width: 50%;
    padding: 0 2rem;

    align-items: center; // vertically center the text
    justify-content: center;
    white-space: nowrap;

    box-shadow: 2px 1px 6px rgba(248, 248, 248, 0.3);
    // border-left: 1px solid #ffff32;
}

.card {
    background: linear-gradient(22deg, #999, #f8f8f8, #dbe4eb, #ffffff2e);
    color: #333333;
}
.card:hover {
    background-color: rgb(75, 0, 130);
    color: rgb(75, 0, 130);
}

.cardSelect {
    background-color: rgb(75, 0, 130, 0.7);
    color: #f8f8f8;
}

.cardActive2 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    //border: 1px solid #ffff32;
    border-radius: 4px;
    margin-top: 11px;
    margin-bottom: 11px;
    cursor: pointer;
}

.card2 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    //border: 1px solid silver;
    border-radius: 4px;
    margin-top: 11px;
    margin-bottom: 11px;
    cursor: pointer;
}

.icoWrapper {
    margin-top: 7px;
}

.cardSub {
    position: relative;
    background-color: rgba(248, 248, 248, 0.8); // @design #F8F8F8
    //border-radius: 4px;
    padding: 0 1rem;
    box-shadow: 2px 3px 6px rgba(75, 0, 130, 0.6); // @design-shadow-sdb
    border-radius: 0 0 11px 11px;
}

// .cardSub::before {
//     position: absolute;
//     content: '';
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 1px;
//     background-color: #ffff32;
// }

.cardSub2 {
    background-color: #ffffff2e;
    //border: 1px solid #ffff32;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 11px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.subWrapper {
    padding: 7px;
    width: 100%;
    margin-bottom: 22px;
}

.subWrapperBal {
    padding-top: 11%;
    padding-bottom: 11%;
    width: 100%;
}

.boxWrapper {
    background-color: rgba(51, 51, 51, 0.8);
    // border: 1px solid #ffff32;
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    box-shadow: 2px 3px 6px rgba(255, 255, 50, 0.5); // @design-shadow-sdb
    border-radius: 22px;
    /* Metallic @design-shadow-purple */
    // 0 5px 14px rgba(75, 0, 130, 0.5),
    //     /* Main shadow */ 0 6px 6px rgba(75, 0, 130, 0.3); /* Softer shadow for depth */

    width: 100%;
}

.boxWrapperInner {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #2525258c;
    padding: 2rem 2rem;
    border-radius: 12px;
    flex-direction: column;
    margin-bottom: 1rem;
}

.boxTitle {
    font-size: 1rem;
    text-align: left;
    color: #dbe4eb;

    //@mobile-first
    padding: 1.4rem 0;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
        gap: 1rem;
    }
}

.info {
    display: flex;
    align-items: center;
    font-size: 0.9rem !important;
    color: #dbdbdb !important;
}

.sdbAddr {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sdb {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: center;

    padding: 0 2rem;
    gap: 0.5rem;

    cursor: pointer;
    // text-decoration: underline;
    color: #1e90ff;
}

.sdbText {
    font-size: 1.2rem;
    text-align: left;
    flex: 1; /* Allow the text to take up available space */
    text-overflow: ellipsis; /* Ensure ellipsis is shown */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed text */
}

.color {
    color: #ffff32;
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

.subsection {
    display: flex;
    width: 100%;
    padding: 1rem 2rem 0;

    //@mobile-first
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @media only screen and (min-width: 500px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.value {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin-top: 1.5rem;
    margin-left: 1rem;
    @media only screen and (min-width: 500px) {
        margin-top: 0rem;
    }
}

.buttons {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;

    width: 100%;
    flex-direction: column;
    padding-left: 3rem;
    @media only screen and (min-width: 500px) {
        flex-direction: row;
        padding-left: 4rem;
    }
}

.loading {
    text-transform: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
}
.error {
    margin-top: 2rem;
    max-width: 350px; // Set a maximum width for the toast content
    max-height: 500px; // Set a fixed maximum height for the toast content
    overflow-y: auto; // Enable vertical scrolling if content exceeds the height
    white-space: normal; // Allow text to wrap normally
    font-size: 14px; // Set a readable font size
    line-height: 1.5; // Improve readability with better line spacing
    word-break: break-word; // Break long words or URLs properly
}

.info {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #ffffffbf;
    font-size: 0.9rem;
}

.walletAct {
    font-size: 1rem;
    color: #1e90ff;
    padding: 0 3rem;
    display: flex;
    cursor: pointer;

    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.subtitle {
    font-size: 1rem;
    max-height: 0.9rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    color: #dbe4eb;
}

.iconContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1.1rem;
    min-width: 1.1rem;
    max-height: 1.1rem;
    min-height: 1.1rem;
}

.iconTokenContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1.5rem;
    min-width: 1.5rem;
    max-height: 1.5rem;
    min-height: 1.5rem;
}

.iconGoldContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1.3rem;
    min-width: 1.3rem;
    max-height: 1.2rem;
    min-height: 1.2rem;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image scales correctly */
}
