@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');
$font-anonymous-pro: 'Anonymous Pro', monospace;

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    width: 100%;
    transition: z-index linear 0s 0.3s;
    align-items: center;
}

.cardActiveWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;

    height: fit-content;

    @media only screen and (max-width: 767px) {
        width: 92%;
    }
}

.tabWrapper {
    display: flex;
    flex-direction: row;

    // @media only screen and (max-width: 767px) {
    //     width: 92%;
    // }
}

.title {
    font-family: $font-anonymous-pro;
    color: #ffff32;
    padding-left: 10px;
    padding-top: 7px;

    font-size: 14px;
    @media only screen and (min-width: 320px) {
        font-size: 17px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 19px;
    }

    text-transform: none;
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: center;
    white-space: nowrap;
}

.title2 {
    font-size: 17px;
    color: #dbe4eb;
    text-transform: uppercase;
    padding-left: 10px;
    margin-right: 17px;
    @media only screen and (max-width: 767px) {
        font-size: 14px;
    }
}

.cardActive {
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(75, 0, 130); // @design #420085; #ffffff2e;
    margin-top: 17px;
    margin-bottom: 2px;
    cursor: pointer;
    //border: 1px solid silver;
    position: relative;
    box-shadow: 2px 1px 6px rgba(248, 248, 248, 0.6);
}

// .cardActive::before {
//     content: '';
//     position: absolute;
//     //dashboard must have position:relative
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 1px;
//     background-color: #ffff32;
// }

.cardTitle,
.cardBeYourBank {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTitle {
    margin-bottom: 2px;
    background-color: rgb(75, 0, 130);
    box-shadow: 2px 1px 6px rgba(248, 248, 248, 0.3);

    position: relative;
}

.cardBeYourBank {
    background-color: #ffffff2e;
    margin-bottom: 17px;
}

// .cardTitle::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 1px;
//     background-color: #ffff32;
// }

$font-anonymous-pro: 'Anonymous Pro', monospace;
.card,
.cardSelect {
    font-family: $font-anonymous-pro;
    text-transform: uppercase;
    white-space: nowrap;

    cursor: pointer;
    display: flex;
    width: 50%;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;

    align-items: center; // vertically center the text
    justify-content: center;
    white-space: nowrap;

    box-shadow: 2px 1px 6px rgba(248, 248, 248, 0.3);
    // border-left: 1px solid #ffff32;

    //@mobile
    font-size: 12px;
    @media only screen and (min-width: 375px) {
        font-size: 17px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 19px;
    }
}

.card {
    background: linear-gradient(22deg, #999, #f8f8f8, #dbe4eb, #ffffff2e);
    color: #333333;
}
.card:hover {
    background-color: rgb(75, 0, 130);
    color: rgb(75, 0, 130);
}

.cardSelect {
    background-color: rgb(75, 0, 130);
    color: #f8f8f8;
}

.cardActive2 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    //border: 1px solid #ffff32;
    border-radius: 4px;
    margin-top: 11px;
    margin-bottom: 11px;
    cursor: pointer;
}

.card2 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    //border: 1px solid silver;
    border-radius: 4px;
    margin-top: 11px;
    margin-bottom: 11px;
    cursor: pointer;
}

.icoWrapper {
    margin-top: 7px;
}

.cardSub {
    position: relative;
    background-color: rgba(248, 248, 248, 0.8); // @design #F8F8F8
    //border-radius: 4px;
    padding: 7px;
    margin-bottom: 17px;
    box-shadow: 2px 3px 6px rgba(248, 248, 248, 0.6); // @design-shadow-sdb
}

// .cardSub::before {
//     position: absolute;
//     content: '';
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 1px;
//     background-color: #ffff32;
// }

.cardSub2 {
    background-color: #ffffff2e;
    //border: 1px solid #ffff32;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 11px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.subWrapper {
    padding: 7px;
    width: 100%;
    margin-bottom: 22px;
}

.subWrapperBal {
    padding-top: 11%;
    padding-bottom: 11%;
    width: 100%;
}

.boxWrapper {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    border: 1px solid #ffff32;
    padding: 11px;
    display: flex;
    flex-direction: column;
    text-align: left;

    box-shadow: 2px 3px 6px rgba(248, 248, 248, 0.6); // @design-shadow-sdb

    /* Metallic @design-shadow-purple */
    // 0 5px 14px rgba(75, 0, 130, 0.5),
    //     /* Main shadow */ 0 6px 6px rgba(75, 0, 130, 0.3); /* Softer shadow for depth */
}

.boxTitle {
    font-family: $font-anonymous-pro;
    padding-left: 4px;
    padding-top: 4%;
    color: #ffff32;

    //font-family: 'Fragment Mono', monospace;

    //@mobile
    font-size: 17px;
    @media only screen and (min-width: 320px) {
        font-size: 19px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 23px;
    }
}

.info {
    display: flex;
    align-items: center;
    font-size: 17px;
    @media only screen and (max-width: 767px) {
        font-size: 14px;
    }
}

$font-anonymous-pro: 'Anonymous Pro', monospace; //@design-font
.txt {
    font-family: $font-anonymous-pro;
    //bolder
    font-weight: 600;
    color: #ffff32;
}

.sdb,
.plain,
.yellow {
    font-family: $font-anonymous-pro;

    padding-left: 4px;
    padding-right: 4px;

    //@mobile
    font-size: 14px;
    @media only screen and (min-width: 320px) {
        font-size: 18px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 22px;
    }
}

.yellow {
    color: #ffff32;
}

.sdb {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
