@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');
$font-anonymous-pro: 'Anonymous Pro', monospace;

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    width: 100%;
    transition: z-index linear 0s 0.3s;
    align-items: center;
}

.cardActiveWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;

    height: fit-content;

    @media only screen and (max-width: 767px) {
        width: 92%;
    }
}

.title {
    font-family: $font-anonymous-pro;
    color: #ffff32;
    padding-left: 10px;
    padding-top: 7px;

    font-size: 18px;
    @media only screen and (min-width: 320px) {
        font-size: 22px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 28px;
    }

    text-transform: none;
    text-align: left;
    display: flex;
    width: 100%;
    justify-content: center;
    white-space: nowrap;
}

.title2 {
    font-size: 17px;
    color: #dbe4eb;
    text-transform: uppercase;
    padding-left: 10px;
    margin-right: 17px;
    @media only screen and (max-width: 767px) {
        font-size: 14px;
    }
}

.cardActive {
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a238ff; // @design #420085; #ffffff2e;
    margin-top: 17px;
    margin-bottom: 2px;
    cursor: pointer;
    //border: 1px solid silver;
    position: relative;
    box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.6); // @design-shadow
}

.cardActive::before {
    content: '';
    position: absolute;
    //dashboard must have position:relative
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #ffff32;
}

.cardTitle {
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a238ff;
    margin-bottom: 2px;
    position: relative;
    box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.6); // @design-shadow
}

.cardTitle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #ffff32;
}

$font-anonymous-pro: 'Anonymous Pro', monospace;
.card {
    padding: 11px;
    font-family: $font-anonymous-pro;

    color: #333333;
    margin-top: 17px;
    cursor: pointer;
    width: 50%;

    border-right: 1px solid #ffff32;

    //@mobile
    font-size: 14px;
    @media only screen and (min-width: 320px) {
        font-size: 18px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 22px;
    }

    background: linear-gradient(33deg, #333333, #dbe4eb, #f8f8f8, #ffffff2e);
}
.card:hover {
    background-color: #a238ff;
    cursor: pointer !important;
    color: #a238ff;
    border-right: 1px solid #a238ff;
}

.cardSelect {
    padding: 11px;
    font-family: $font-anonymous-pro;
    margin-top: 17px;
    cursor: pointer;
    width: 50%;

    border: 1px solid #ffff32;
    border-bottom: #a238ff;

    //@mobile
    font-size: 14px;
    @media only screen and (min-width: 320px) {
        font-size: 18px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 22px;
    }

    background-color: #a238ff;
    color: #f8f8f8;
}

.cardBeYourBank {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    margin-bottom: 17px;
}

.cardActive2 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    //border: 1px solid #ffff32;
    border-radius: 4px;
    margin-top: 11px;
    margin-bottom: 11px;
    cursor: pointer;
}

.card2 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    //border: 1px solid silver;
    border-radius: 4px;
    margin-top: 11px;
    margin-bottom: 11px;
    cursor: pointer;
}

.icoWrapper {
    margin-top: 7px;
}

.cardSub {
    position: relative;
    background-color: rgba(248, 248, 248, 0.9); // @design #F8F8F8
    //border-radius: 4px;
    padding: 7px;
    margin-bottom: 17px;
    box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.6); // @design-shadow
}

.cardSub::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #ffff32;
}

.cardSub2 {
    background-color: #ffffff2e;
    //border: 1px solid #ffff32;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 11px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.subWrapper {
    padding: 7px;
    width: 100%;
    margin-bottom: 22px;
}

.subWrapperBal {
    padding-top: 11%;
    padding-bottom: 11%;
    width: 100%;
}

.boxWrapper {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    background-color: #ffffff2e;
    border: 1px solid #ffff32;
    padding: 11px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.boxTitle {
    font-family: $font-anonymous-pro;
    padding-left: 4px;
    padding-top: 4%;
    color: #ffff32;
    text-decoration: underline;
    //font-family: 'Fragment Mono', monospace;

    //@mobile
    font-size: 14px;
    @media only screen and (min-width: 320px) {
        font-size: 18px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 22px;
    }
}

.info {
    display: flex;
    align-items: center;
    font-size: 17px;
    @media only screen and (max-width: 767px) {
        font-size: 14px;
    }
}

$font-anonymous-pro: 'Anonymous Pro', monospace; //@design-font
.txt {
    font-family: $font-anonymous-pro;
    //bolder
    font-weight: 600;
    color: #ffff32;
}

.sdb {
    font-family: $font-anonymous-pro;

    padding-left: 4px;
    padding-right: 4px;

    cursor: pointer;

    //@mobile
    font-size: 14px;
    @media only screen and (min-width: 320px) {
        font-size: 18px;
    }

    @media only screen and (min-width: 768px) {
        font-size: 22px;
    }
}
