@import '../../styles/scss/mixins.scss';

.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    & > button {
        width: 100%;
        padding: 17px;

        font-size: medium;
        text-transform: uppercase;

        margin-block-end: 0.6em;
        margin-block-start: 0.6em;

        background: var(--primary-color);
        color: var(--button-color);
    }
}

.info {
    //ref:ssibrowser
    padding-bottom: 0.75rem;
    border: 1px solid var(--border-color);
    background-color: var(--card-color);

    @include border-radius(17px);
}

.column {
    @include flex-column;

    &:global(.muted > div) {
        & > p {
            color: var(--muted-color);
        }
    }

    &:first-child {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--notification-color);
    }

    &:last-child {
        padding-top: 10px;
    }
}

.row {
    margin-top: 7px;
    margin-bottom: 7px;
    @include flex-between-row;

    & > p {
        margin: 0;
        font-weight: 400;
        font-size: 11px;
        font-family: 'Light';
        margin-block-end: 3px;
        margin-block-start: 3px;
        max-width: 200px;
    }
}

.txtRow {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    text-align: left;

    color: #6e6e6e;

    padding: 0.5rem 15%;
}

.confirmContainer {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    width: 100%;
}

.confirmContainer {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    width: 100%;
}

.txtRowTerms {
    width: 70%;
    padding: 1rem 5%;
    display: block;
    font-size: 0.7rem;
    align-items: center;
    text-align: center;
    color: #6e6e6e;
}

.terms {
    color: #1e90ff;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.txtRowEO {
    font-size: medium;
    // text-transform: uppercase;
    text-align: left;
    color: #dbe4eb;
    text-decoration: overline;
    text-decoration-color: #ffff32;

    @media only screen and (max-width: 350px) {
        font-size: 10px;
    }

    @media only screen and (max-width: 767px) and (min-width: 351px) {
        font-size: 12px;
    }
}

.cancel {
    width: 100%;
    font-size: small;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
}

.txt {
    font-size: 0.9rem;
    font-weight: 300;

    text-transform: capitalize;
    color: #f8f8f8;

    letter-spacing: normal;
}

.failedWithdrawal,
.succeededWithdrawal {
    margin-top: 1rem;
    padding: 2rem;
}

.failedWithdrawal {
    border: 1px solid red;
}

.succeededWithdrawal {
    border: 1px solid #ffff32;
}

.withdrawalTxt {
    color: #333333;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    text-align: left;
}

.error {
    margin-top: 2rem;
    padding-bottom: 2rem;
    max-width: 350px; // Set a maximum width for the toast content
    max-height: 500px; // Set a fixed maximum height for the toast content
    overflow-y: auto; // Enable vertical scrolling if content exceeds the height
    white-space: normal; // Allow text to wrap normally
    font-size: 16px; // Set a readable font size
    line-height: 1.5; // Improve readability with better line spacing
    word-break: break-word; // Break long words or URLs properly
}

.link {
    cursor: pointer;
    color: #1e90ff;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}
