@media only screen and (max-width: 768px) {
    .contentWrapper {
        width: 100%;
    }
}

.contentWrapper {
    max-width: 600px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputBox {
    width: 100% !important;
}

.arrowWrapper {
    height: 2.75rem;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

@media only screen and (max-width: 500px) {
    .inputBox {
        width: 100% !important;
    }
}
