.dropdownCheckListWrapper {
    width: 100%;
}

.dropdownCheckList {
    cursor: pointer;
    border: 1px solid rgb(182, 182, 182);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #000;
}

.wrapperOption {
    margin-top: 10px;
    background-color: #000;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    max-height: 150px;
    overflow: auto;
}

.option {
    display: flex;
    margin-bottom: 2px;
    margin-top: 2px;
    color: #dbe4eb;
    text-align: left;
    cursor: pointer;
}

.closeWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.threeDotsWrapper {
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.langDesktop {
    display: contents;
}

.langMobile {
    display: none;
}

@media only screen and (max-width: 700px) {
    .langDesktop {
        display: none;
    }

    .langMobile {
        display: contents;
    }
}
