.headline {
    color: #000;
    margin-bottom: 70px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title {
    color: #000;
    text-transform: uppercase !important;
    margin-bottom: 3%;
    word-break: break-all;
    letter-spacing: unset !important;
}

.subtitle {
    color: #000;
}

.x {
    color: #000;
}

.username {
    color: #000;
    text-transform: lowercase !important;
}

.addFundsToAddress {
    font-size: 14px;
    margin-top: -2%;
    color: #000;
}

.originatorInfoWrapper {
    display: flex;
    margin-top: 2%;
}

.originatorType {
    font-size: 20px;
    color: #000;
}

.originatorAddr {
    font-size: 20px;
    color: #000;
}

.fundsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-top: 2%;
}

.transferInfoWrapper {
    display: flex;
    margin-top: 10%;
}

.transferInfo {
    font-size: 18px;
    color: #000;
}

.transferInfoYellow {
    font-size: 18px;
    color: #000;
}

.select {
    width: 50%;
}

.wrapperNonBuy {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.walletInfoWrapper {
    display: flex;
    width: 110%;
    align-items: flex-start;
    flex-direction: column;
    margin-left: -10px;
}

.wrapperOriginator {
    width: 50%;
}

.txt {
    color: #000;
}

.addFundsTitle {
    font-size: 20px;
    color: #000;
}

.inputCoin {
    width: 100%;
    margin-left: -5px;
    margin-right: 1%;
    border-color: #000 !important;
    color: #000 !important;
}

.inputCoin2 {
    width: 41% !important;
    margin-left: -5px;
    margin-right: 2%;
    color: #000 !important;
    border-color: #000 !important;
}

.inputCoin::placeholder {
    color: #292828 !important;
}

.inputCoin2::placeholder {
    color: #292828 !important;
}

.gasTxt {
    margin-top: 3%;
    color: #000;
}

.walletInfo {
    margin-bottom: 20px;
    margin-top: -10px;
}

.btnGroupTransfer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
}

@media only screen and (max-width: 400px) {
    .addFundsToAddress {
        font-size: 10px;
    }

    .originatorInfoWrapper {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    .originatorAddr {
        font-size: 10px;
    }

    .wrapperOriginator {
        width: 90%;
    }

    .inputCoin2 {
        width: 90% !important;
    }

    .select {
        width: 90%;
    }

    .transferInfoWrapper {
        flex-direction: column;
    }

    .transferInfo,
    .transferInfoYellow {
        font-size: 14px;
    }
}
