.headline {
    color: #000;
    margin-bottom: 70px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title {
    color: #000;
    text-transform: uppercase !important;
    margin-bottom: 3%;
    word-break: break-all;
    letter-spacing: unset !important;
}

.subtitle {
    color: #000;
}

.x {
    color: #000;
}

.username {
    color: #000;
    text-transform: lowercase !important;
}

.addFundsToAddress {
    font-size: 14px;
    margin-top: -2%;
    color: #000;
}

.originatorInfoWrapper {
    display: flex;
    margin-top: 2%;
}

.originatorType {
    font-size: 20px;
    color: #000;
}

.originatorAddr {
    font-size: 20px;
    color: #000;
}

.fundsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-top: 2%;
}

.transferInfoWrapper {
    display: flex;
    margin-top: 10%;
}

.transferInfo {
    font-size: 18px;
    color: #000;
}

.transferInfoYellow {
    font-size: 18px;
    color: #000;
}

.select {
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    margin-top: -15px;
}

.wrapperNonBuy {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.walletInfoWrapper {
    display: flex;
    width: 110%;
    align-items: flex-start;
    flex-direction: column;
    margin-left: -10px;
}

.wrapperOriginator {
    width: 50%;
}

.txt {
    color: #000;
}

.addFundsTitle {
    font-size: 20px;
    color: #000;
}

.inputCoin {
    width: 100%;
    margin-left: -5px;
    margin-right: 1%;
    border-color: #000 !important;
    color: #000 !important;
}

.inputCoin::placeholder {
    color: #292828 !important;
}

.gasTxt {
    margin-top: 3%;
    color: #000;
}

.zilpayWalletInfo {
    display: flex;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 5px;
}

@media only screen and (max-width: 400px) {
    .addFundsToAddress {
        font-size: 10px;
    }

    .originatorInfoWrapper {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    .originatorAddr {
        font-size: 10px;
    }

    .wrapperOriginator {
        width: 90%;
    }
}
