.container {
    display: flex;
    position: absolute;
    width: 300px;
    height: fit-content;
    z-index: 5;
}

.innerContainer {
    display: flex;
    position: absolute;
    width: 16rem;
    background: #dbe4eb;
    border: 1px solid #000;
    flex-direction: column;
    padding: 3%;
    border-radius: 10px;
    margin-top: 1rem;
}

.closeIcon {
    align-self: flex-end;
    height: 15px;
    width: 15px;

    &:hover {
        cursor: pointer;
    }

    path {
        fill: #ffffff2e;
    }
}

.headerWrapper {
    display: flex;
    align-items: center;
}

.headerTxt {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 7px;
    color: #000;
}

.contentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.closeIco {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    cursor: pointer;
}

.headerTxt {
    margin-bottom: 10px;
}

.wrapperIcoStatus {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 750px) {
    .container {
        top: 90%;
        width: 90%;
    }
}

@media only screen and (min-width: 950px) {
    .container {
        top: 70%;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        top: 70%;
    }
}

@media only screen and (min-width: 2500px) {
    .container {
        top: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        position: absolute;
        z-index: 1;
        top: 3rem;
    }
    .innerContainer {
        width: 200px !important;
    }
}

@media only screen and (max-width: 1390px) {
    .container {
        margin-left: 0px;
        margin-top: 0%;
    }

    .headerTxt {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 7px;
    }
}

@media only screen and (min-width: 1800px) {
    .closeIco {
        top: 0rem;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        left: 0%;
    }
}
