@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.container {
    margin-top: 5%;
}

.containerX {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.gascost {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.btnWrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container2 {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.arrowWrapper {
    height: 2.75rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
