// @import 'styles/scss/variables/colors';
.outerWrapper {
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 100%;
    width: 100%;
    transition: z-index linear 0s 0.3s;
}

.containerClose {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0%;
}

.container {
    display: flex;
    position: absolute;
    max-width: 868px;
    width: 100%;
    height: fit-content;
    z-index: 1;
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    border: 1px solid #fff;
    flex-direction: column;
    padding: 60px;
    transition: z-index linear 0s 0.3s;
    border-radius: 10px;
    background-color: black;
}

.contentWrapper {
    margin-bottom: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.headerInfo {
    font-size: 18px;
    font-weight: 400;
}

.usernameInfoWrapper {
    display: flex;
    margin-top: -20px;
    margin-bottom: 21px;
}

.usernameInfo {
    font-size: 40px;
    text-transform: none !important;
    font-weight: 400;
}

.usernameInfoYellow {
    font-size: 40px;
    text-transform: none !important;
    font-weight: 400;
    color: #f9e600;
}

.loginAddress {
    text-decoration: underline;
    cursor: pointer;
}

.icoInfo {
    margin-left: 14px;
}

.select {
    width: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    margin-top: -15px;
}

.selectWrapper {
    display: flex;
    justify-content: space-between;
}

.paymentWrapper {
    width: 100%;
    margin-left: 5%;
}

.inputAddrWrapper {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 47%;
}

.balanceInfoWrapepr {
    display: flex;
    margin-top: 2%;
}

.balanceInfo {
    font-size: 14px;
}

.balanceInfoYellow {
    font-size: 14px;
    color: #f9e600;
}

.addFundsToAddress {
    font-size: 14px;
    margin-top: -2%;
}

.originatorInfoWrapper {
    display: flex;
    margin-top: 2%;
}

.originatorType {
    font-size: 20px;
}

.originatorAddr {
    font-size: 20px;
    color: #f9e600;
}

.fundsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-top: 2%;
}

.transferInfoWrapper {
    display: flex;
    margin-top: 5%;
}

.transferInfo {
    font-size: 18px;
}

.transferInfoYellow {
    font-size: 18px;
    color: #f9e600;
}

@media only screen and (max-width: 750px) {
    .container {
        max-width: 90%;
        margin-top: 5%;
    }

    .innerContainer {
        padding: 4%;
    }

    .headerInfo {
        font-size: 12px;
    }

    .usernameInfoWrapper {
        flex-direction: column;
        margin-top: 5px;
    }

    .usernameInfo {
        font-size: 20px;
        margin-left: -15px;
    }

    .usernameInfoYellow {
        font-size: 20px;
    }

    .loginAddress {
        font-size: 11px;
    }

    .selectWrapper {
        flex-direction: column;
    }

    .paymentWrapper {
        margin-left: 0%;
        margin-top: 2%;
    }

    .inputAddrWrapper {
        width: 100%;
    }

    .addFundsToAddress {
        font-size: 11px;
    }

    .originatorInfoWrapper {
        flex-direction: column;
    }

    .originatorType {
        font-size: 11px;
        margin-top: 2%;
    }

    .originatorAddr {
        font-size: 10px;
        margin-top: -8%;
    }

    .transferInfoWrapper {
        flex-direction: column;
    }

    .transferInfo {
        font-size: 11px;
    }

    .transferInfoYellow {
        font-size: 11px;
        margin-top: -8%;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        margin-top: 0%;
    }
}
