@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.content {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}

.buttonBack {
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    outline: 0;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
}

.button {
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 7px;
    outline: 0;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
}

.buttonText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 400;
    color: whitesmoke;
}

.buttonWhiteText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 600;
    color: whitesmoke;
}

.buttonColorText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 600;
    color: yellow;
}

.buttonColorDText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 600;
    color: red;
}

.buttonBlueText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 600;
    color: lightblue;
}

.flipCard {
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardFront {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid silver;
    background-color: #ffffff2e;
    cursor: pointer;
    letter-spacing: 0.2rem;
    line-height: 1 !important;
}

.flipCardBack {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #000;
    border: 1px solid #ffff32;
    cursor: pointer;
    letter-spacing: 0.2rem;
    line-height: 1 !important;
    transform: rotateY(180deg);
}

.cardTitle2 {
    display: contents;
    font-size: 11px;
    color: #fff;
    font-weight: 100;
    color: yellow;
    max-width: 20px;
}

.cardTitle3 {
    display: contents;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    color: #fff;
    font-size: 17px;
}

@media only screen and (max-width: 500px) {
    .content {
        margin-top: 50px;
    }
    .flipCard {
        width: 120px;
        height: 120px;
    }

    .flipCardFront {
        width: 120px;
        height: 120px;
    }

    .flipCardBack {
        width: 120px;
        height: 120px;
    }

    .cardTitle2 {
        font-size: 6px;
    }

    .cardTitle3 {
        font-size: 9px;
    }
}
