@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.wrapper {
    text-align: center;
    margin-top: -70px;
}

.username {
    text-transform: lowercase !important;
    color: #ffff32;
    font-size: larger;
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
}

.flipCard {
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardFront2,
.flipCardBack2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardFront {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid silver;
    background-color: #ffffff2e;
    cursor: pointer;
    letter-spacing: 0.2rem;
    line-height: 1 !important;
}

.flipCardFront2 {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid silver;
    background-color: #ffffff2e;
    cursor: pointer;
    letter-spacing: 0.2rem;
    line-height: 1 !important;
    margin-top: 10px;
}

.flipCardBack2 {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #dbe4eb;
    border: 1px solid #000;
    cursor: pointer;
    letter-spacing: 0.2rem;
    line-height: 1 !important;
    transform: rotateY(180deg);
    margin-top: 10px;
}

.flipCardBack {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #dbe4eb;
    border: 1px solid #000;
    cursor: pointer;
    letter-spacing: 0.2rem;
    line-height: 1 !important;
    transform: rotateY(180deg);
}

.cardTitle2 {
    display: contents;
    font-size: 11px;
    color: #000;
    font-weight: 100;
    color: #000;
    max-width: 20px;
}

.cardTitle3 {
    display: contents;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    color: #000;
    font-size: 17px;
}

.xText {
    display: 'flex';
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
}

.selectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 422px;
}

.cardHeadline {
    text-align: center;
    margin-bottom: 30px;
}

.ssiTitleWrapper {
    width: 450px;
    color: '#dbe4eb';
    margin-bottom: 7%;
    margin-top: 14%;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 5px;
    text-align: center;
    letter-spacing: 1px;
}

.cardActiveWrapper {
    display: flex;
    width: 100%;
}

.card {
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff2e;
    border: 1px solid silver;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    z-index: 1;
}

@media only screen and (max-width: 1024px) {
    .xText {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 500px) {
    .flipCard {
        width: 100px;
        height: 100px;
    }

    .flipCardFront {
        width: 100px;
        height: 100px;
    }

    .flipCardFront2 {
        width: 100px;
        height: 100px;
    }

    .flipCardBack2 {
        width: 100px;
        height: 100px;
    }

    .flipCardBack {
        width: 100px;
        height: 100px;
    }

    .xText {
        margin-top: 55px;
    }

    .cardTitle2 {
        font-size: 7px;
    }

    .cardTitle3 {
        font-size: 7px;
    }

    .username {
        font-size: 20px;
        max-width: 300px;
    }

    .selectionWrapper {
        width: 222px;
    }

    .ssiTitleWrapper {
        width: 270px;
        color: '#dbe4eb';
        margin-bottom: 3%;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 5px;
        text-align: center;
        letter-spacing: 1px;
    }

    .wrapper {
        margin-top: -30px;
    }
}

@media only screen and (min-width: 1050px) {
    .xText {
        margin-top: 95px;
    }
}
