.signin {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 25px;
    max-width: 375px;
    width: 100%;
}

.signinText {
    margin: 0;
}

.zilpayIcon {
    margin-right: 12px;
    height: 20px;
    width: 20px;
}
