@import url("https://fonts.googleapis.com/css?family=Noto+Sans+Mono");

.username {
  text-transform: lowercase !important;
  color: #ffff32;
  font-size: larger;
}

.card1 {
  display: flex;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #ffff32;
  background-color: #ffffff2e;
  cursor: pointer;
  letter-spacing: 0.2rem;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 1 !important;
}

.card1:hover {
  background-color: #ffffff17;
}

.card1:hover .cardTitle {
  display: none;
}

.card1:hover .cardTitle3 {
  display: none;
}

.card1:hover .cardTitle2 {
  display: contents;
  font-size: 11px;
  color: #fff;
  font-weight: 100;
  color: #ffff32;
}

.card {
  display: flex;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #fff;
  background-color: #ffffff2e;
  cursor: pointer;
  letter-spacing: 0.2rem;
  line-height: 1 !important;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.card:hover {
  background-color: #ffffff17;
}

.card:hover .cardTitle {
  display: none;
}

.card:hover .cardTitle3 {
  display: none;
}

.card:hover .cardTitle2 {
  display: contents;
  font-size: 11px;
  color: #fff;
  font-weight: 100;
  color: yellow;
  max-width: 20px;
}

.cardTitle3 {
  display: contents;
  font-family: "Noto Sans Mono";
  font-weight: 900;
  color: #fff;
  font-size: 17px;
}

.cardTitle2 {
  display: none;
}

.xText {
  display: "flex";
  margin-left: 7px;
  margin-right: 5px;
  margin-top: 5px;
}

@media only screen and (max-width: 1024px) {
  .xText {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 120px;
    height: 120px;
  }

  .card1 {
    width: 120px;
    height: 120px;
  }

  .xText {
    margin-top: 55px;
  }

  .card:hover .cardTitle2 {
    font-size: 9px;
  }

  .card1:hover .cardTitle2 {
    font-size: 9px;
  }

  .cardTitle3 {
    font-size: 15px;
  }

  .username {
    font-size: 23px;
  }
}

@media only screen and (min-width: 1050px) {
  .xText {
    margin-top: 95px;
  }
}
