@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

//MAJIN HACIENDO EL SWAP
//deskpot

.swap_contenedor_1 {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swap_contenedor_2 {
    position: fixed;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.swap_contenedor_3 {
    right: 0;
    left: 0;
    margin: 10% auto 50px;
    max-width: 635px;
    width: 95%;
    background: var(--modal-color);
    padding: 0;
    z-index: 100;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
    border-radius: 16px;
    background-clip: padding-box;
}

.swap_contenedor_4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swap_settings_1 {
    padding: 10px;
}

.swap_settings_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swap_tokens_1 {
    padding: 10px;
    background-color: var(--border-color);
}

.swap_tokens_2 {
    font-size: 13px;
}

.tokens_lista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tokens_buscar {
    padding: 10px;
    text-indent: 5px;
    margin: 10px;
    width: 90%;
    border: 1px solid var(--muted-color);
    color: var(--muted-color);
    border-radius: 10px;
    background-clip: padding-box;
}

.tokens_contenedor {
    overflow-y: scroll;
    height: 30vh;
    width: 100%;
}

// ul {
    // padding: 0;
    // margin: 0;
    // list-style: none;
// }

.tokens_card {
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-padding-before: 5px;
    padding-block-start: 5px;
    -webkit-padding-after: 5px;
    padding-block-end: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.estilo_span_1 {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}

.estilo_span_2 {
    box-sizing: border-box;
    display: block;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.estilo_imagen_1 {
    display: block;
    max-width: 100%;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.estilo_imagen_2 {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.tokens_contenedor_2 {
    text-indent: 10px;
    width: 100%;
}

.tokens_left {
    font-weight: 500;
}

.tokens_right {
    font-weight: 300;
    font-size: 12px;
}

.swap_form_contenedor {
    background-color: var(--card-color);
    padding: 1rem 1.25rem 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    border-radius: 16px;
    background-clip: padding-box;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


// estas características del elemento p, acompañan a tokens_left y tokens_right
// p {
//     color: var(--text-color);
//     line-height: 1rem;
//     font-feature-settings: "liga","clig";
//     font-variant-ligatures: common-ligatures;
//     display: block;
//     -webkit-margin-before: 0.7em;
//     margin-block-start: 0.7em;
//     -webkit-margin-after: 0.7em;
//     margin-block-end: 0.7em;
//     font-family: Regular;
//     font-size: 14px;
// }

.tokens_include {
    padding: 10px;
    height: 60px;
    background-color: var(--border-color);
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-clip: padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swap_contenedor_nombre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.swap_contenedor_ajustes {
    cursor: pointer;
}

.swap_contenedor_montos {
    background: var(--button-color);
    border: 1px solid transparent;
    max-width: 430px;
    border-radius: 16px;
    background-clip: padding-box;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

.swap_contenedor_montos_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swap_contenedor_montos_3 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 120px;
    height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    background-clip: padding-box;
}

.estilo_span_3 {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}

.contenedor_info_precio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.swap_fomr_info {
    display: none;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 420px;
    background: var(--button-color);
    border-radius: 16px;
    background-clip: padding-box;
}

//mobile
//(max-width: 700px)
.swap_contenedor_1 {
    height: auto;
}

.swap_contenedor_2 {
    overflow: none;
}

.swap_contenedor_3 {
    width: 100vw!important;
    height: 100vh!important;
    margin: 0;
    border-radius: 0;
    background-clip: padding-box;
}

.swap_contenedor_4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swap_tokens_2 {
    font-size: 12px;
}

.tokens_contenedor {
    height: calc(100vh - 257px);
}

.tokens_include {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-clip: padding-box;
    height: 100%;
}

.swap_form_contenedor {
    width: 100vw;
    box-shadow: none;
}


//(max-width: 510px)
.swap_form_contenedor {
    border-radius: 0;
    background-clip: padding-box;
}

//fin de lo que hizo majin con el swap

.username {
    text-transform: lowercase !important;
    color: #ffff32;
    font-size: larger;
}

.card1 {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #ffff32;
    background-color: #ffffff2e;
    cursor: pointer;
    letter-spacing: 0.2rem;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 1 !important;
}

.card1:hover {
    background-color: #ffffff17;
    transform: rotate(360deg);
    transition: transform 0.5s;
}

.card1:hover .cardTitle {
    display: none;
}

.card1:hover .cardTitle3 {
    display: none;
}

.card1:hover .cardTitle2 {
    display: contents;
    font-size: 11px;
    color: #fff;
    font-weight: 100;
    color: #ffff32;
}

.card {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #fff;
    background-color: #ffffff2e;
    cursor: pointer;
    letter-spacing: 0.2rem;
    line-height: 1 !important;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.card:hover {
    background-color: #ffffff17;
    transform: rotate(360deg);
    transition: transform 0.5s;
}

.card:hover .cardTitle {
    display: none;
}

.card:hover .cardTitle3 {
    display: none;
}

.card:hover .cardTitle2 {
    display: contents;
    font-size: 11px;
    color: #fff;
    font-weight: 100;
    color: yellow;
    max-width: 20px;
}

.cardTitle3 {
    display: contents;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    color: #fff;
    font-size: 17px;
}

.cardTitle2 {
    display: none;
}

.xText {
    display: 'flex';
    margin-left: 7px;
    margin-right: 5px;
    margin-top: 5px;
}

@media only screen and (max-width: 1024px) {
    .xText {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 500px) {
    .card {
        width: 120px;
        height: 120px;
    }

    .card1 {
        width: 120px;
        height: 120px;
    }

    .xText {
        margin-top: 55px;
    }

    .card:hover .cardTitle2 {
        font-size: 9px;
    }

    .card1:hover .cardTitle2 {
        font-size: 9px;
    }

    .cardTitle3 {
        font-size: 9px;
    }

    .username {
        font-size: 23px;
    }
}

@media only screen and (min-width: 1050px) {
    .xText {
        margin-top: 95px;
    }
}
