@import url("https://fonts.googleapis.com/css?family=Noto+Sans+Mono");

.container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 8%;
}

.x {
  color: yellow;
}

.button {
  position: absolute !important;
  right: 0%;
  bottom: 30px;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-family: "Noto Sans Mono";
  font-weight: 900;
  height: 2.75rem;
  letter-spacing: 0.2rem;
  line-height: 2.75rem;
  outline: 0;
  padding: 0 1.25rem 0 1.35rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #ffffff2e;
}
