.container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    flex-direction: column;
}

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.searchBtn {
    background-color: #ffffff2e;
    color: lightblue !important;
    border-radius: 4px;
    margin-left: 5px;
}

.error {
    position: absolute !important;
    left: 0%;
    bottom: -10%;
    display: inline-block;
}

.selector {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
}

.arrowWrapper {
    height: 2.75rem;
    display: flex;
    align-items: center;
}

.txt {
    color: #fff;
    text-transform: uppercase;
    font-size: medium;
}
