.listItem {
    font-size: small;
    color: #dbe4eb;
    text-align: left;
}

.walletInfoWrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    margin-left: -10px;
    border-radius: 5px;
    background-color: gray; //rgba($color: #fff, $alpha: 0.2);
    padding: 1rem;
    max-width: fit-content;
}

.txt {
    color: #000;
}

.zilpayWalletInfo {
    display: flex;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 5px;
}

.txtLeftInfo {
    color: #dbe4eb;
}

.txtLeftIco {
    width: 20px;
    margin-right: 5px;
    margin-top: 3px;
}

.txtLeftIco2 {
    width: 15px;
    margin-right: 5px;
    margin-top: 3px;
}

@media only screen and (max-width: 700px) {
    .originatorAddr {
        font-size: 10px;
    }

    .wrapperOriginator {
        width: 90%;
    }

    .txtLeftIco {
        width: 10px;
        margin-top: 1px;
    }

    .txtLeftIco2 {
        width: 8px;
        margin-top: 1px;
    }
}
