.listItem {
    font-size: small;
    color: #dbe4eb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.walletInfoWrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    margin-left: -10px;
    border-radius: 4px;
    background-color: #ffffff2e;
    padding: 1rem;
    max-width: fit-content;
}

.txt {
    color: #dbe4eb;
    text-transform: uppercase;
    font-size: small;
    display: flex;
    white-space: nowrap;
    margin-top: 3%;
}

.txt > div {
    flex: 1;
    // display: inline-block;
}

.zilpayWalletInfo {
    display: flex;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 5px;
}

.txtLeftInfo {
    color: #dbe4eb;
    text-transform: uppercase;
    font-size: small;
    margin-right: 10px;
}

.txtLeftIco {
    width: 20px;
    margin-right: 5px;
    margin-top: 3px;
}

.txtLeftIco2 {
    width: 15px;
    margin-right: 5px;
    margin-top: 3px;
}

@media only screen and (max-width: 700px) {
    .originatorAddr {
        font-size: 10px;
    }

    .wrapperOriginator {
        width: 90%;
    }

    .txtLeftIco {
        width: 10px;
        margin-top: 1px;
    }

    .txtLeftIco2 {
        width: 8px;
        margin-top: 1px;
    }
}
