.title {
    display: contents;
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    line-height: 1.7rem;
}

.button {
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff2e;
    border-radius: 1px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
}
