.cardTitle3 {
    display: contents;
    font-weight: 900;
    color: #000;
    font-size: small;
}

.cardActiveWrapper {
    display: flex;
    width: 100%;
    width: 170px;
}

.card,
.cardZil {
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff2e;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 1;
}

.card:hover {
    background-color: #dbe4eb;
    border-color: #ffff32; //#000;
}

.card:hover .cardTitle3 {
    color: #000;
}

.cardZil:hover {
    background-color: #dbe4eb;
    border-color: #ffff32; //#000;
}

.cardZil:hover .cardTitle3 {
    color: #000;
}

// @media only screen and (max-width: 500px) {
//     .cardTitle3 {
//         font-size: 9px;
//     }
// }
