.cardTitle3 {
    display: contents;
    font-weight: 900;
    color: #fff;
    font-size: larger;

    @media only screen and (max-width: 500px) {
        font-size: medium;
    }
}

.cardActiveWrapper {
    display: flex;
    width: 100%;
}

.card,
.cardZil {
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff2e;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    z-index: 1;
}

.card:hover {
    background-color: black;
    border-color: #ffff32;
}

.card:hover .cardTitle3 {
    color: #ffff32;
}

.cardZil:hover {
    background-color: black;
    border-color: #ffff32; //#0000ff;
}

.cardZil:hover .cardTitle3 {
    color: #ffff32; //#0000ff;
}

// @media only screen and (max-width: 500px) {
//     .cardTitle3 {
//         font-size: medium;
//     }
// }
