.button {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 80%;
    width: 100%;
    margin-bottom: 7%;
    padding: 30px;
    background-color: black;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 300;
    height: 2.75rem;
    letter-spacing: 0.2rem;
    line-height: 2.75rem;
    outline: 0;
    padding: 0 1.25rem 0 1.35rem;
}

.buttonText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.logo {
    margin-right: 12px;
    height: 25px;
    width: 25px;
}

@media only screen and (min-width: 1700px) {
    .logo {
        margin-top: -15px;
    }
  }