@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.headline {
    color: silver;
    margin-bottom: 70px;
}

.container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container2 {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.x {
    color: yellow;
}

.username {
    text-transform: lowercase !important;
    color: #6c00ad;
    font-size: larger;
    word-wrap: break-word;
    max-width: 50ch;
    text-align: center;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flipCard {
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardFront2,
.flipCardBack2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardFront {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid silver;
    background-color: #ffffff2e;
    cursor: pointer;
    letter-spacing: 0.2rem;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 1 !important;
}

.flipCardBack {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #000;
    border: 1px solid #ffff32;
    cursor: pointer;
    letter-spacing: 0.2rem;
    margin-left: -5px;
    line-height: 1 !important;
    transform: rotateY(180deg);
}

.cardTitle2 {
    display: contents;
    font-size: 11px;
    color: #fff;
    font-weight: 100;
    color: #ffff32;
    max-width: 20px;
}

.cardTitle3 {
    display: contents;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    color: #000;
    font-size: 17px;
}

.xText {
    display: 'flex';
    margin-left: 17px;
    margin-right: 5px;
    margin-top: 5px;
}

.selectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 435px;
}

.cardActiveWrapper {
    display: flex;
    width: 100%;
    margin-right: -10px;
}

.card {
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff2e;
    border: 1px solid silver;
    border-radius: 5px;
    margin-bottom: 16px;
    cursor: pointer;
    z-index: 1;
}

.title {
    color: #dbe4eb;
    text-transform: none;
}

.cardWrapper {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.usernameMobile {
    display: none;
}

@media only screen and (max-width: 500px) {
    .username {
        width: 270px;
    }
    .flipCard {
        width: 120px;
        height: 120px;
    }

    .flipCardFront {
        width: 120px;
        height: 120px;
    }

    .flipCardFront2 {
        width: 120px;
        height: 120px;
    }

    .flipCardBack2 {
        width: 120px;
        height: 120px;
    }

    .flipCardBack {
        width: 120px;
        height: 120px;
    }

    .cardTitle2 {
        font-size: 6px;
    }

    .cardTitle3 {
        font-size: 9px;
    }

    .selectionWrapper {
        width: 262px;
    }

    .title {
        text-align: center;
    }

    .cardWrapper {
        margin-top: 30px;
    }

    .usernameMobile {
        display: contents;
    }
}
