@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.x {
    text-transform: lowercase;
}

.button {
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    outline: 0;
    background-color: black;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
    letter-spacing: 0.2rem;
}

.buttonText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 400;
    color: #ffff32;
}

.buttonColorText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
}

.error {
    position: absolute !important;
    left: 0%;
    bottom: -10%;
    display: inline-block;
}

.wrapperMotion {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.motion {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-bottom: 5%;
    flex-direction: column;
}

.motionContent {
    display: flex;
}

.motionTxt {
    text-align: left;
    margin-left: 50px;
}

.inputWrapper {
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
    width: 400px;
}

@media only screen and (max-width: 800px) {
    .inputWrapper {
        flex-direction: column;
        width: auto;
    }
}
