.username {
    text-transform: lowercase;
    color: blue;
}

.button {
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    outline: 0;
    background-color: whitesmoke;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
    letter-spacing: 0.2rem;
}

.buttonText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.buttonColorText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.buttonBlueText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: blue;
}

.error {
    position: absolute !important;
    left: 0%;
    bottom: -10%;
    display: inline-block;
}
