.username {
    text-transform: lowercase !important;
    color: yellow;
}

.button {
    margin-left: 3%;
    border-radius: 6px;
    outline: 0;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
}

.buttonText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: whitesmoke;
}

.buttonWhiteText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 950;
    color: whitesmoke;
}

.buttonYellowText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 950;
    color: yellow;
}

.buttonBlue {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 950;
    color: lightblue;
}
