@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 22px;
    width: 100%;
}

.backIco {
    text-align: left;
    cursor: pointer;
    margin-right: 50px;
}

.headline {
    color: silver;
    margin-bottom: 70px;
}

// .title {
//     color: #000;
//     text-transform: uppercase !important;
//     word-break: break-all;
//     letter-spacing: unset !important;
// }

.docInfo {
    background-color: #ffffff2e;
    padding: 15px;
    border-radius: 4px;
    margin: 10px 0;
    width: 500px;
    //border: 3px solid #fff;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 15px;
}

.docInfo:hover {
    background-color: #fff;
}

.docInfo:hover .did {
    color: #000;
}

.docInfo:hover .id {
    color: #000;
}

.did {
    margin: 10px 0;
    word-break: break-all;
    font-family: 'Noto Sans Mono';
    font-weight: 520;
    color: whitesmoke;
}

.didkey {
    margin: 10px 0;
    word-break: break-all;
    font-family: 'Noto Sans Mono';
    color: whitesmoke;
}

.id {
    text-transform: uppercase !important;
    margin: 10px 0;
    margin-right: 3%;
    word-break: break-all;
    font-family: 'Noto Sans Mono';
    font-weight: 500;
    color: whitesmoke;
}

.card {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #ffffff2e;
    cursor: pointer;
    letter-spacing: 0.2rem;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 1 !important;
}

.cardTitle {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 950;
    color: whitesmoke;
    font-size: 16px;
}

.cardTitle2 {
    display: none;
}

.card:hover .cardTitle2 {
    display: contents;
    font-size: 11px;
    color: #fff;
    font-weight: 100;
    max-width: 100px;
}

.card:hover .cardTitle {
    display: none;
}

.buttonBack {
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    outline: 0;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
    letter-spacing: 0.1rem;
    max-width: fit-content;
}

.buttonBackText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 400;
    color: silver;
}

.container {
    width: 100%;
}

.flipCard {
    width: 100%;
    height: 92px;
    perspective: 1000px;
    margin-top: 17px;
    margin-bottom: 17px;
    cursor: pointer;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.socialCard,
.socialCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.socialCard {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 2px;
    border-style: solid;
}

.socialCardBack {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    transform: rotateY(180deg);
}

.socialCardIco {
    width: 36px;
    height: 36px;
    background-color: rgba($color: #d9d9d9, $alpha: 0.1);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialTreeWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
}

.addFunds {
    width: 199px;
    padding: 20px;
    background-color: #ffffff2e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #dbe4eb;
    color: #dbe4eb;
}

.addFunds:hover {
    background-color: #dbe4eb;
    border: 1px solid #ffff32;
    color: #ffff32;
}

.addFundsIco {
    width: 32px;
    height: 32px;
    background-color: rgba($color: #000, $alpha: 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.txtDesc {
    font-size: 18px;
    word-wrap: break-word;
    width: 100%;
}

.tooltiptext {
    width: 200px !important;
    visibility: hidden;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #dbe4eb;
    color: #000;
    text-align: center;
    z-index: 2;
    word-wrap: break-word;
}

.tooltip {
    margin-top: 50px;
    margin-bottom: 50px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    margin-top: -10px;
    margin-bottom: 10px;
}

.tooltiptextCommon {
    max-width: 200px !important;
    visibility: hidden;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #dbe4eb;
    color: #000;
    text-align: center;
    z-index: 2;
    position: absolute;
    word-wrap: break-word;
}

.tooltipCommon {
    width: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tooltipCommon:hover .tooltiptextCommon {
    visibility: visible;
}

.txtSocialCard {
    font-size: 18px;
    text-align: left;
    word-wrap: break-word;
}

.commonWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    justify-content: center;
}

.commonIco {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.nullDoc {
    margin-bottom: -100px;
}

.noData {
    margin-bottom: 100px;
}

.socialBorderWrapper {
    border: 1px solid #dbe4eb;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeIcoWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.closeIco {
    padding-bottom: 2rem;
    margin-top: -1.75rem;
    margin-right: -1.5rem;
    cursor: pointer;
}

.socialCardMinimized {
    width: 388px;
    height: 108px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border: 1px solid #dbe4eb;
    background-color: rgba($color: #fff, $alpha: 0.2);
    cursor: pointer;
    flex-direction: column;
}

.restoreIco {
    margin-bottom: -1.75rem;
    margin-right: -0.5rem;
}

// @media only screen and (max-width: 426px) {
//     .wrapper {
//         width: 100%;
//     }
// }

@media only screen and (max-width: 600px) {
    .txtDesc {
        font-size: 10px;
    }
}

// @media only screen and (min-width: 1445px) {
//     .wrapper {
//         width: 35%;
//     }
// }

// @media only screen and (min-width: 1550px) {
//     .wrapper {
//         width: 40%;
//     }
// }

// @media only screen and (min-width: 1850px) {
//     .wrapper {
//         width: 35%;
//     }
// }

@media only screen and (max-width: 600px) {
    .docInfo {
        width: 100%;
    }

    .flipCard {
        height: 74px;
    }

    .socialCardMinimized {
        width: 200px;
        height: 90px;
    }

    .restoreIco {
        margin-bottom: -5rem;
        margin-right: -1.5rem;
    }

    .commonIco {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }

    .tooltipCommon {
        width: 20px;
        margin-left: 10px;
        margin-right: 25px;
    }

    .txtSocialCard {
        font-size: 12px;
        max-width: 70%;
    }

    .tooltiptextCommon {
        margin-left: -50px;
        width: 150px !important;
    }

    .tooltip {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .nullDoc {
        margin-bottom: -10px;
    }

    .noData {
        margin-bottom: 0px;
    }
}

//new
.button {
    margin-top: 17px;
    padding: 3px;
    cursor: pointer;
}
