@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.wrapper {
    margin-top: 55px;
    margin-bottom: 11%;
    // center all elements inside using 100% width
}

//.tydraImg {
// margin-left: -0.5rem;
//}

.loading {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 10vh;
}

// @media only screen and (max-width: 576px) {
//     .tydraImg {
//         width: 222px;
//         height: 222px;
//     }
// }

.tydraImg {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 222px;
    height: auto;

    @media (min-width: 444px) {
        width: 333px;
    }
    @media (min-width: 777px) {
        width: 444px;
    }
}
