@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.tydraImg {
    margin-left: -0.5rem;
}

.loading {
    width: 100%;
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 500px) {
    .tydraImg {
        width: 100px;
        height: 100px;
    }
}
