.username {
    text-transform: lowercase !important;
    color: yellow;
}

.button {
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    outline: 0;
    background-color: #ffffff2e;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
    letter-spacing: 0.2rem;
}

.buttonText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.buttonColorText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.buttonBlueText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: lightblue;
}

.buttonYellowText {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: yellow;
}
