.titleCardRight {
    text-align: left;
    width: 100%;
    font-size: 20px;
}

.selector {
    margin-top: 5px;
    width: 70%;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 50px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 275px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    text-align: left;
    position: absolute;
    z-index: 2;
    bottom: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    margin-bottom: -10px;
}

@media only screen and (max-width: 700px) {
    .tooltip .tooltiptext {
        width: 100px;
    }
}
