.container {
    margin-top: 1%;
    text-align: left;
}

.searchDiv {
    display: flex;
}

.searchBtn {
    background-color: white;
    color: black!important;
    border-radius: 4px;
}

.searchBtn:hover {
    background-color: white;
}

.searchBar {
    margin-bottom: 2px;
    margin-right: 5px;
}

.docInfo {
    background-color: #ffffff2e;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}

.blockHead {
    text-transform: capitalize!important;
    margin: 10px 0;
    word-break: break-all;
    letter-spacing: unset!important;
}

.errorMsg {
    margin: 0;
}

.did {
    margin: 10px 0;
    word-break: break-all;

}
