.container {
    margin-top: 1%;
    text-align: left;
}

.searchDiv {
    display: flex;
}

.searchBtn {
    background-color: white;
    color: black !important;
    border-radius: 4px;
}

.searchBtn:hover {
    background-color: white;
}

.searchBar {
    margin-bottom: 2px;
    margin-right: 5px;
}

.errorMsg {
    margin: 0;
}
