.container {
    margin-top: 1%;
    text-align: left;
}

.searchDiv {
    display: flex;
}

.searchBtn {
    background-color: #ffffff2e;
    color: white !important;
    border-radius: 4px;
}

.searchBar {
    margin-bottom: 2px;
    margin-right: 5px;
}

.errorMsg {
    margin: 0;
}
