.container {
    margin-top: 1%;
    text-align: left;
}

.searchDiv {
    display: flex;
    margin-bottom: 7%;
}

.searchBtn {
    background-color: #ffffff2e;
    color: white !important;
    border-radius: 4px;
}

.searchBar {
    margin-bottom: 2px;
    margin-right: 5px;
}

.buttonShow {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 1000;
    color: yellow;
}

.buttonHide {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: grey;
}

.button {
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    height: 2rem;
    letter-spacing: 0.2rem;
    line-height: 2.75rem;
    outline: 0;
    padding: 0 1.25rem 0 1.35rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
