.thunder,
.thunderSm {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbe4eb;
}

.thunder {
    font-size: 17px;
    width: 31px;
    height: 31px;
}

.thunderSm {
    font-size: 14px;
    width: 22px;
    height: 22px;
}

.thunder:hover,
.thunderSm:hover {
    border: 1px solid #ffff32;
}

@media only screen and (max-width: 900px) {
    .thunderSm {
        margin-right: 0px;
    }
}
