.tyronLg {
    cursor: pointer;

    position: absolute;
    top: 1rem;
    left: 2rem;

    width: 110px;
    height: auto;

    @media only screen and (min-width: 375px) {
        width: 140px;
    }

    @media only screen and (min-width: 768px) {
        width: 170px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1680px) {
        top: 1.2rem;
    }

    @media only screen and (max-width: 1000px) {
        left: 1.5rem;
    }
    @media only screen and (max-width: 768px) {
        left: 1rem;
    }
}

.tyronImg {
    width: 100%;
    height: auto;
}
