.button {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 375px;
    width: 100%;
}

.buttonText {
    margin: 0;
}

.logo {
    margin-right: 12px;
    height: 20px;
    width: 20px;
}
