@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.cardTitle {
    display: contents;
    //font-family: 'Noto Sans Mono';
    font-weight: 900;
    color: #000;
    font-size: medium;
}

.cardActiveWrapper {
    display: flex;
    width: 100%;
    //margin-right: -5px;
}

.card {
    width: 100%;
    height: fit-content;
    padding: 22px;
    display: flex;
    justify-content: center;
    background-color: #ffffff2e;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    border: 1px solid #fff;
}

.card:hover {
    background-color: #dbe4eb;
    border-color: #ffff32;
}

.card:hover .cardTitle {
    color: #000;
}

// .cardDeployed:hover {
//     background-color: black;
//     border-color: #0000ff;
// }

// .cardDeployed:hover .cardTitle3 {
//     color: #0000ff;
// }

// @media only screen and (max-width: 500px) {
//     .cardTitle {
//         font-size: 9px;
//     }
// }
