@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.cardTitle {
    display: contents;
    //font-family: 'Noto Sans Mono';
    font-weight: 900;
    color: #fff;
    font-size: medium;
}

.cardActiveWrapper {
    display: flex;
    width: 100%;
    //margin-right: -5px;
}

.card {
    width: 100%;
    height: fit-content;
    padding: 22px;
    display: flex;
    justify-content: center;
    //align-items: center;
    background-color: #ffffff2e;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

// .cardDeployed {
//     width: 100%;
//     height: fit-content;
//     padding: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: #ffff32;
//     border: 1px solid silver;
//     border-radius: 4px;
//     cursor: pointer;
//     z-index: 1;
// }

// .cardDeployed .cardTitle3 {
//     color: #000;
// }

.card:hover {
    background-color: black;
    border-color: #ffff32;
}

.card:hover .cardTitle {
    color: #ffff32;
}

// .cardDeployed:hover {
//     background-color: black;
//     border-color: #0000ff;
// }

// .cardDeployed:hover .cardTitle3 {
//     color: #0000ff;
// }

// @media only screen and (max-width: 500px) {
//     .cardTitle3 {
//         font-size: 9px;
//     }
// }
