.formAmount {
    display: flex;
    align-items: center;
}

.btn {
    margin-left: 2%;
}

@media only screen and (max-width: 700px) {
    .formAmount {
        flex-direction: column;
    }
    .btn {
        width: 100%;
        margin-left: 0%;
        margin-top: 10px;
    }
}
