.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.username {
  text-transform: lowercase;
  color: #ffff32;
}

.x {
  text-transform: lowercase;
  color: silver;
}
