@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.buttonBack {
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 7px;
    outline: 0;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
}

.buttonText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 400;
    color: whitesmoke;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    min-width: 200px;
}

.container2 {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    min-width: 200px;
}

.containerInput {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.button {
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    height: 2.75rem;
    letter-spacing: 0.2rem;
    line-height: 2.75rem;
    outline: 0;
    padding: 0 1.25rem 0 1.35rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #ffffff2e;
    max-width: fit-content;
    margin-bottom: 10px;
}

.x {
    color: yellow;
}

.input {
    border-color: #000 !important;
    color: #000 !important;
}

.input::placeholder {
    color: #767676 !important;
}

.inputCurrency {
    border-color: #000 !important;
    color: #000 !important;
    width: 40% !important;
}

.inputCurrency::placeholder {
    color: #767676 !important;
}

.txt {
    color: #000;
}

.gasTxt {
    margin-top: 3%;
    color: #000;
}

.searchBarWallet {
    width: 585px;
}

.wrapperSelector {
    width: 70%;
}

.txtResolvedAddr {
    color: #000;
    font-size: 15px;
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    .inputCurrency {
        width: 100% !important;
    }
    .searchBarWallet {
        width: 100%;
    }
    .wrapperSelector {
        width: 100%;
    }
    .txtResolvedAddr {
        font-size: 11px;
    }
}
