.dashboard {
    background-color: #ffffff2e;
    padding-bottom: 22px;
    margin-top: 44px;
    margin-bottom: 33px;
    position: relative;
    /* Add position relative to position the line */
    width: 100%;
    //border-top: solid 1px;
}

.dashboard::before {
    content: '';
    position: absolute;
    //dashboard must have position:relative
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: #dbe4eb;
}

.rowRate {
    display: flex;
    align-items: center;
    text-transform: none;
    font-size: 14px;
    margin-left: 77px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.rowRate p {
    color: white;
    text-align: left;
    margin: 8px 0;
}

.rowRate span {
    color: white;
    text-align: left;
    padding-right: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .rowRate {
        font-size: 12px;
        margin-top: 13px;
        margin-bottom: 13px;
    }

    .rowRate p {
        margin: 7px 0;
    }
}

.equalsign {
    display: flex;
    margin-left: 7px;
    display: inline-block;
    // vertical-align: middle;
    text-transform: none;
    font-weight: 400;
}

.equalsign::before {
    content: '=';
    position: relative;
    // top: 50%;
    left: -3px;
    color: white;
}

// .title {
//     color: #dbe4eb;
//     text-align: left;
//     margin-left: 11px;
//     text-transform: uppercase;
//     font-size: large;
//     font-weight: bolder;
//     margin-top: 44px;
//     margin-bottom: 22px;
//     text-decoration: overline;
//     text-decoration-color: #ffffff2e;
// }

.title {
    letter-spacing: 0.11rem;
    line-height: 3rem;
    height: 3rem;
    width: 100%;
    font-weight: bold;
    color: #dbe4eb;
    text-align: left;
    text-transform: none;
    font-size: 17px;
    padding-left: 22px;
    margin-bottom: 22px;
    position: relative;

    /* Estilos para la capa de degradado */
    &::before {
        content: '';
        position: absolute;
        left: 0;
        //top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg,
                #333333,
                #dbe4eb,
                #ffff32,
                #ffffff2e);
        opacity: 0.7;
        /* Ajusta la opacidad según sea necesario */
        z-index: -1;
        /* Coloca la capa detrás del texto */
    }

    @media (min-width: 576px) {
        font-size: 22px;
    }
}

// .subtitle {
//     color: #dbe4eb;
//     text-align: left;
//     margin-left: 22px;
//     margin-right: 22px;
//     text-transform: uppercase;
//     font-size: small;
//     margin-top: 33px;
//     margin-bottom: 22px;
//     text-decoration: underline;
//     text-decoration-color: #ffff32;
// }

.subtitle {
    line-height: 2rem;
    height: 2rem;
    //width: 100%;
    font-weight: bolder;
    color: white; //#A8A8A8; //#B0C2D9;
    text-align: left;
    //margin-right: 22px;
    text-transform: none;
    font-size: 14px;
    padding-left: 11px;
    margin-left: 22px;
    margin-top: 33px;
    margin-bottom: 22px;
    position: relative;

    /* Estilos para la capa de degradado */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg,
                #ffffff2e,
                #ffff32,
                #dbe4eb,
                #333333,
            );
        opacity: 0.5;
        /* Ajusta la opacidad según sea necesario */
        z-index: -1;
        /* Coloca la capa detrás del texto */
    }

    @media (min-width: 576px) {
        font-size: 17px;
    }
}

.subtitle2 {
    color: #dbe4eb;
    text-align: left;
    margin-left: 33px;
    margin-right: 22px;
    text-transform: uppercase;
    font-size: small;
    margin-top: 33px;
    margin-bottom: 22px;
    text-decoration: overline;
    text-decoration-color: #ffffff2e;
}

.tyronDEX {
    color: #dbe4eb;
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px dashed #ffffff2e;
}