.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 7%;
}

.username {
    text-transform: lowercase !important;
    color: #ffff32;
    font-size: xx-large;
    word-wrap: break-word;
    max-width: 50ch;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 65px;
    padding: 1%;

    @media only screen and (max-width: 576px) {
        font-size: x-large;
    }
}

.usernameMobile {
    display: none;

    @media only screen and (max-width: 767px) {
        display: contents;
    }
}

// .card {

//     @media only screen and (max-width: 767px) {
//         width: 370px;
//     }
// }

// .card2 {
//     width: 400px;
//     height: fit-content;
//     padding: 10px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: #ffffff2e;
//     border: 1px solid silver;
//     border-radius: 3px;
//     margin-top: 12px;
//     margin-bottom: 12px;
//     cursor: pointer;
//     z-index: 1;

//     @media only screen and (max-width: 767px) {
//         width: 310px;
//     }
// }

// .selectionWrapper {
//     padding-left: 17px;
//     margin-top: 20px;
//     width: 400px;

//     @media only screen and (max-width: 767px) {
//         width: 330px;
//     }
// }
