.title {
    font-size: 24px;
    color: #0000ff;
    text-align: center;
    text-transform: none;
}

.subTitle {
    font-size: 14px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardWrapper {
    margin-top: 70px;
}

.cardActiveWrapper {
    display: flex;
}

.card {
    width: 338px;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    border: 1px solid silver;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    z-index: 1;
}

.cardActive {
    width: 338px;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    border: 1px solid #0000ff;
    z-index: 1;
}

.cardRight {
    width: 500px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff2e;
    border: 1px solid #0000ff;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    z-index: 1;
}

.gasTxt {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.icoWrapper {
    margin-top: 7px;
}

.formAmount {
    display: flex;
    align-items: center;
}

.domainSelectorWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
}

.titleCardRight {
    text-align: left;
    width: 100%;
}

.selector {
    border: 1px solid #fff;
    border-radius: 5px;
}

.txtBtn {
    text-transform: none;
    text-align: center;
}

.closeWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
}

.closeIcoWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.closeIco {
    right: 5px;
    top: 5px;
    cursor: pointer;
    margin-top: -20px;
    margin-right: -10px;
}

.extraZil {
    width: 100%;
    display: flex;
    margin-top: 16px;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 200px;
    }

    .cardActive {
        width: 200px;
    }

    .cardRight {
        width: 200px;
    }

    .cardWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 1000px) {
    .cardActiveWrapper {
        flex-direction: column;
    }

    .cardRight {
        margin-left: 0px;
    }
}
