.headlineWrapper {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 275px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    text-align: left;
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.modalInfoTitle {
    color: #ffff32;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .headlineWrapper {
        width: 100%;
        text-align: center;
    }
}

.title {
    color: #dbe4eb;
    text-transform: uppercase !important;
    word-break: break-all;
    letter-spacing: unset !important;
    margin-top: 1%;
}

.headerSubTitle {
    font-size: 16px;
    margin-top: 30px;
}

.address {
    font-size: 18px;
    margin-top: -15px;
    color: #ffff32;
    max-width: fit-content;
}

@media only screen and (max-width: 500px) {
    .headerSubTitle {
        font-size: 9px;
    }

    .address {
        font-size: 10px;
    }
}