.headlineWrapper {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 275px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.modalInfoTitle {
    color: #ffff32;
    font-size: 20px;
}

.addressWrapper {
    margin-top: -5%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    text-transform: lowercase !important;
    color: #ffff32;
    font-size: larger;
    word-wrap: break-word;
    max-width: 50ch;
    text-align: center;
}

.usernameMobile {
    display: none;
}

.txtYellow {
    color: #ffff32;
}

@media only screen and (max-width: 768px) {
    .headlineWrapper {
        width: 100%;
        text-align: center;
    }

    .addressWrapper {
        margin-bottom: 220px;
    }

    .usernameMobile {
        display: contents;
    }
}

.title {
    color: #dbe4eb;
    text-transform: uppercase !important;
    word-break: break-all;
    letter-spacing: unset !important;
    margin-top: 1%;
}

.subtitle {
    color: silver;
    margin-bottom: 4%;
}

.headerSubTitle {
    font-size: 16px;
    margin-top: 30px;
}

.titleAddress {
    font-size: 18px;
    margin-top: 30px;
}

.address {
    font-size: 18px;
    margin-top: -15px;
    color: #ffff32;
    max-width: fit-content;
}

.txt {
    color: #fff;
}

@media only screen and (max-width: 500px) {
    .headerSubTitle {
        font-size: 9px;
    }

    .titleAddress,
    .address {
        font-size: 12px;
    }

    .username {
        font-size: 20px;
        max-width: 300px;
    }
}