.mainContainer {
    display: flexbox;
    width: 110%;
    margin-left: 3%;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}
