@import '../../../styles/scss/mixins.scss';

//@review
.container {
    cursor: pointer;

    &:hover {
        & > svg > path {
            fill: #ffff32; //var(--primary-color);
        }
    }
}

.icoSetting {
    width: 22px;
}

@media only screen and (max-width: 767px) {
    .icoSetting {
        width: 15px;
    }
}
