.percentageWrapper {
    display: flex;
    margin-bottom: 33px;
    margin-top: 3px;
    align-items: center;
}

.percentageTxt {
    font-size: 12px;
    color: #000;
}

.btnPercentage {
    padding: 10;
    background-color: rgba($color: #000, $alpha: 0.1);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.percentageInfo {
    font-size: 12px;
    color: #000;
}

@media only screen and (max-width: 600px) {
    .inputCurrency {
        width: 60% !important;
    }

    .percentageWrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .percentageInfo {
        margin-bottom: 5px;
    }
}

.loading {
    margin-left: 11px;
    margin-top: 11px;
}
