@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.container {
    margin-top: 5%;
}

.container2 {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.input {
    margin-left: 1%;
    max-width: 30%;
}

.gasTxt {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}