.rowContent {
    padding: 1rem;
    border-left: 1px solid #333333;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.rowContentTxt {
    display: flex;
    flex-direction: column;
    color: #333333;
    justify-content: flex-start;
    padding: 0 1rem 1rem;
    font-size: 0.8rem;
}

.ul {
    list-style: none;
}

.ul .li::before {
    content: '\2022';
    color: #000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-top: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;

    height: fit-content;
    z-index: 1;
}

.innerContainer {
    box-shadow: 2px 3px 6px rgba(255, 255, 50, 0.5);
    background: #dbdbdb; //#2525258c;

    flex-direction: column;
    padding: 5%;
    border-radius: 22px;

    margin-top: 5rem;
    @media only screen and (min-width: 768px) {
        margin-top: 2rem;
    }
    @media only screen and (min-width: 1680px) {
        margin-top: 1rem;
    }
}

.closeIcon {
    margin: 0px;
    cursor: pointer;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerTxt {
    font-size: 0.9rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    padding: 1rem 1rem 2rem;
    color: rgb(75, 0, 130);
}

.contentWrapper {
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background-color: #f8f8f8;
    border-radius: 22px;
}

.rowWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.rowHeader {
    display: flex;
    line-height: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.rowHeaderContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowHeaderTitle {
    padding: 0 1rem 0.1rem;
    color: #000;
    font-size: 0.9rem;
}

.linkColor {
    color: #000;
}

.modalInfoTitle {
    color: #000;
    font-size: 14px;
}

.wrapperDropdownIco {
    margin-top: 1%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 275px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.ico {
    display: flex;
}

.ico:hover .icoColor {
    display: contents;
}

.ico:hover .icoDefault {
    display: none;
}

.icoDefault {
    display: contents;
}

.icoColor {
    display: none;
    margin-left: -20px;
}

@media only screen and (max-width: 767px) {
    .tooltip .tooltiptext {
        width: 200px;
        left: 50%;
        margin-left: -100px;
    }
}

.btnConfirmWrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btnConfirm,
.btnConfirmDisabled {
    display: flex;
    width: 100%;
    height: 40px;

    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

.btnConfirm {
    color: #ffff32;
    cursor: pointer;
    border: 1px solid #ffff32;
    background-origin: rgb(75, 0, 130);
    background-image: linear-gradient(to right, rgb(75, 0, 130), #7a28ff);
    box-shadow: 0 0 14px rgba(255, 255, 50, 0.6),
        inset 0 -3px 7px rgba(0, 0, 0, 0.4);
}

.btnConfirmDisabled {
    cursor: not-allowed;
    border: 1px solid #808080;
    background-origin: #979797;
    background-image: linear-gradient(to right, #979797, #808080);
    box-shadow: 0 0 14px rgba(151, 151, 151, 0.6),
        inset 0 -3px 7px rgba(0, 0, 0, 0.4);
}

.failedWithdrawal,
.succeededWithdrawal {
    margin-top: 1rem;
    padding: 2rem;
}

.failedWithdrawal {
    border: 1px solid red;
}

.succeededWithdrawal {
    border: 1px solid #ffff32;
}

.withdrawalTxt {
    color: #000;
    margin: 2rem;
    font-size: 0.8rem;
}

.error {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 350px; // Set a maximum width for the toast content
    max-height: 500px; // Set a fixed maximum height for the toast content
    overflow-y: auto; // Enable vertical scrolling if content exceeds the height
    white-space: normal; // Allow text to wrap normally
    line-height: 1.5; // Improve readability with better line spacing
    word-break: break-word !important; // Break long words or URLs properly
}

.sdb {
    width: 80%;

    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: center;

    gap: 0.5rem;
    padding: 0 2rem;

    cursor: pointer;
    // text-decoration: underline;
    color: #1e90ff;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.sdbText {
    flex: 1; /* Allow the text to take up available space */
    text-overflow: ellipsis; /* Ensure ellipsis is shown */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed text */

    @media only screen and (max-width: 1000px) {
        max-width: 180px;
    }
    @media only screen and (max-width: 768px) {
        max-width: 160px;
    }
    @media only screen and (max-width: 500px) {
        max-width: 120px;
    }
    @media only screen and (max-width: 376px) {
        max-width: 100px;
    }
}
