@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.container {
    margin-top: 5%;
    width: 100%;
}

.arrowWrapper {
    height: 2.75rem;
    display: flex;
    align-items: center;
}

.input {
    width: 40% !important;
    margin-right: 3%;
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.gascost {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.btnWrapper {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.txtBtn {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
