@import url("https://fonts.googleapis.com/css?family=Noto+Sans+Mono");

.button {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  max-width: "fit-content";
  background-color: black;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 300;
  height: 2.75rem;
  letter-spacing: 0.2rem;
  line-height: 2.75rem;
  outline: 0;
  padding: 0 1.25rem 0 1.35rem;
  width: fit-content;
}

.buttonText {
  margin: 0;
  font-family: "Noto Sans Mono";
  font-weight: 900;
}

.buttonText2 {
  margin: 0;
  font-family: "Noto Sans Mono";
  font-weight: 500;
  text-transform: lowercase;
}

.zilpayIcon {
  margin-right: 12px;
  height: 25px;
  width: 25px;
}

.zilpayAddrWrapper {
  display: flex;
  margin-top: -40px;
}

.zilpayAddr {
  color: rgba($color: #fff, $alpha: 0.7);
  margin-left: 10px;
  margin-top: 30px;
}

@media only screen and (min-width: 1700px) {
  .zilpayIcon {
    margin-top: -15px;
  }
}
