@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.wrapperGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    justify-content: center;
}

.wrapperNftOption {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdownCheckListWrapper {
    margin-bottom: 5%;
    width: fit-content;
}

.dropdownCheckList {
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
}

.wrapperOption {
    margin-top: 1%;
    background-color: #000;
    padding: 10px;
    position: absolute;
    width: 250px;
    border: 1px solid #ffff32;
    border-radius: 4px;
    max-height: 200px;
    overflow: auto;
}

.option {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    color: #dbe4eb;
    cursor: pointer;
}

.optionIco {
    margin-top: 3px;
    margin-right: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.wrapperIcoContinue {
    z-index: 1;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.closeWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
}

@media only screen and (max-width: 600px) {
    .wrapperGallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }
}
