.flipCard {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin-left: 8px;
    margin-right: 8px;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipCardFront {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid silver;
    cursor: pointer;
    letter-spacing: 0.2rem;
    line-height: 1 !important;
    background-color: #ffffff2e;
}

.flipCardBack {
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #000;
    border: 1px solid #ffff32;
    cursor: pointer;
    letter-spacing: 0.2rem;
    line-height: 1 !important;
    transform: rotateY(180deg);
    padding: 50px;
}

.cardTitle2 {
    display: contents;
    font-size: 11px;
    color: #fff;
    font-weight: 100;
    color: yellow;
    max-width: 20px;
    word-wrap: break-word;
}

.cardTitle3 {
    display: flex;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    color: #fff;
    font-size: 17px;
    word-wrap: break-word;
    width: 90%;
    justify-content: center;
    line-height: 2;
}

.cardTitle4 {
    display: flex;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    color: #fff;
    font-size: 17px;
    word-wrap: break-word;
    width: 90%;
    justify-content: center;
    line-height: 2;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.selectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 410px;
    margin-left: -5px;
}

@media only screen and (max-width: 500px) {
    .flipCard {
        width: 100px;
        height: 100px;
    }

    .flipCardFront {
        width: 100px;
        height: 100px;
    }

    .flipCardFront2 {
        width: 100px;
        height: 100px;
    }

    .flipCardBack {
        width: 100px;
        height: 100px;
    }

    .cardTitle2 {
        font-size: 6px;
    }

    .cardTitle3 {
        font-size: 8px;
    }

    .cardTitle4 {
        font-size: 8px;
    }

    .selectionWrapper {
        width: 215px;
        margin-left: -5px;
    }
}
