@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    margin-top: 7%;
}

.title {
    color: #000;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 5%;
}

.x {
    color: yellow;
}

.username {
    color: yellow;
    text-transform: lowercase !important;
}

.button {
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    outline: 0;
    background-color: #6c00ad;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
    letter-spacing: 0.2rem;
    max-width: fit-content;
    box-shadow: none !important;
    border: 1px solid #dbe4eb !important;
    color: #dbe4eb !important;
}

.button:hover {
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    outline: 0;
    background-color: #6c00ad;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
    letter-spacing: 0.2rem;
    max-width: fit-content;
    border: 1px solid #dbe4eb !important;
    box-shadow: none !important;
    color: #dbe4eb !important;
}

.buttonLock {
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    outline: 0;
    background-color: #ffffff2e;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
    letter-spacing: 0.2rem;
    max-width: fit-content;
    box-shadow: none !important;
    border: 1px solid red !important;
    color: #000 !important;
}

.buttonLock:hover {
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    outline: 0;
    background-color: #dbe4eb;
    cursor: pointer;
    padding: 0 0.6rem 0 0.8rem;
    letter-spacing: 0.2rem;
    max-width: fit-content;
    border: 1px solid red !important;
    box-shadow: none !important;
    color: red !important;
}

.buttonText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 400;
}

.buttonColorText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 600;
    color: #000;
}

.buttonColorDText {
    margin: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 600;
    color: red;
}
