.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 22px;
    margin-bottom: 22px;
}

.sectionWrapper {
    margin: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 11px;
}

.headline {
    font-size: 14px;
    margin-bottom: 22px;
    text-transform: uppercase;
    //add text decoration overline and underline
    text-decoration: overline;
    text-decoration-color: #333333;
    align-self: flex-start;
}

.info {
    font-size: 12px;
    align-self: flex-start;
    text-transform: uppercase;
    margin-bottom: 11px;
    margin-left: 11px;
}

.button,
.buttonLock {
    font-size: 11px;
    /* Reduce padding to make the button thinner */
    padding: 0 8px; /* 8px left and right padding */
    height: 1.7rem;

    //make the text inside the button vertically centred
    display: flex;
    align-items: center;

    /* Align the button to the right within its container */
    align-self: flex-end;

    /* Add a small right margin for separation from other elements */
    margin-right: 11px;

    /* Make the button edges sharper by reducing border-radius */
    border-radius: 1px;

    /* Remove the default outline when the button is focused */
    outline: 0;

    /* Set the background color with some transparency */
    background-color: #ffffff2e;

    /* Change the cursor to a pointer on hover, indicating interactivity */
    cursor: pointer;

    /* Adjust the letter spacing for better visual spacing between letters */
    letter-spacing: 0.08rem; /* Reduced letter spacing */

    /* Limit the maximum width to fit its content */
    max-width: fit-content;

    /* Remove any box shadow */
    box-shadow: none !important;

    /* Add a border to the button with a white color */
    border: 1px solid #fff !important;
}

.button:hover {
    background-color: #000;
    border: 1px solid #ffff32 !important;
    color: #ffff32 !important;
}

.buttonLock:hover {
    background-color: #000;
    border: 1px solid red !important;
    color: red !important;
}
