// @import 'styles/scss/variables/colors';
.outerWrapper {
    top: 0%;
    left: 0%;
    display: flex;
    position: absolute;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    transition: z-index linear 0s 0.3s;
}

.containerClose {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    display: flex;
    position: absolute;
    max-width: 868px;
    width: 100%;
    height: fit-content;
    z-index: 1;
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    border: 1px solid #fff;
    flex-direction: column;
    padding: 60px;
    transition: z-index linear 0s 0.3s;
    border-radius: 10px;
    background-color: black;
}

.contentWrapper {
    margin-bottom: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.headerInfo {
    font-size: 18px;
    font-weight: 400;
}

.usernameInfoWrapper {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    margin-bottom: 21px;
}

.usernameInfo {
    font-size: 40px;
    text-transform: none !important;
    font-weight: 400;
    margin-top: -20px;
}

.usernameInfoYellow {
    font-size: 40px;
    text-transform: none !important;
    font-weight: 400;
    color: #ffff32;
}

.icoInfo {
    margin-left: 14px;
    cursor: pointer;
}

.select {
    width: 100%;
}

.selectWrapper {
    display: flex;
    justify-content: space-between;
}

.paymentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paymentWrapperOption {
    width: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipientWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.recipientWrapperMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 20px;
}

.inputAddrWrapper {
    display: flex;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}

.balanceInfoWrapepr {
    display: flex;
    margin-top: 2%;
}

.balanceInfo {
    font-size: 14px;
}

.balanceInfoYellow {
    font-size: 14px;
    color: #ffff32;
}

.addFundsToAddress {
    font-size: 14px;
    margin-top: -2%;
}

.originatorInfoWrapper {
    display: flex;
    margin-top: 2%;
}

.originatorType {
    font-size: 20px;
}

.originatorAddr {
    font-size: 20px;
    color: #ffff32;
}

.fundsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-top: 2%;
}

.transferInfoWrapper {
    display: flex;
    margin-top: 5%;
}

.transferInfo {
    font-size: 18px;
}

.transferInfoYellow {
    font-size: 18px;
    color: #ffff32;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    vertical-align: top;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 275px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.modalInfoTitle {
    color: #ffff32;
    font-size: 14px;
}

.wrapperLoading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loadingIco {
    margin-top: -1%;
}

.ico {
    display: flex;
}

.ico:hover .icoColor {
    display: contents;
}

.ico:hover .icoDefault {
    display: none;
}

.icoDefault {
    display: contents;
}

.icoColor {
    display: none;
    margin-left: -20px;
}

.txt {
    color: #fff;
}

.gasTxt {
    color: lightgrey;
    margin-top: 3%;
}

.wrapperOptionMobile {
    display: none;
}

.wrapperOptionDesktop {
    display: contents;
}

.wrapperActionBtn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.toggleActiveWrapper {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: flex-end;
    cursor: pointer;
    margin-left: 30px;
}

.toggleActiveBall {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
}

.toggleInactiveWrapper {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: #000;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: 30px;
}

.toggleInactiveBall {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
}

@media only screen and (max-width: 750px) {
    .container {
        max-width: 90%;
        margin-top: -15%;
    }

    .innerContainer {
        padding: 4%;
        padding-top: 8%;
        padding-bottom: 100px;
    }

    .wrapperActionBtn {
        margin-bottom: -100px;
        padding-bottom: 8%;
    }

    .headerInfo {
        font-size: 12px;
    }

    .usernameInfoWrapper {
        flex-direction: column;
        margin-top: 5px;
    }

    .usernameInfo {
        font-size: 20px;
    }

    .usernameInfoYellow {
        font-size: 20px;
    }

    .loginAddress {
        font-size: 11px;
    }

    .selectWrapper {
        flex-direction: column;
    }

    .paymentWrapper {
        margin-left: 0%;
        margin-top: 2%;
    }

    .paymentWrapperOption {
        margin-left: 0%;
        margin-top: -20px;
    }

    .inputAddrWrapper {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .addFundsToAddress {
        font-size: 11px;
    }

    .originatorInfoWrapper {
        flex-direction: column;
    }

    .originatorType {
        font-size: 11px;
        margin-top: 2%;
    }

    .originatorAddr {
        font-size: 10px;
        margin-top: -8%;
    }

    .transferInfoWrapper {
        flex-direction: column;
    }

    .transferInfo {
        font-size: 11px;
    }

    .transferInfoYellow {
        font-size: 11px;
        margin-top: -8%;
    }

    .tooltip .tooltiptext {
        width: 250px;
        margin-left: -200px;
    }

    .wrapperOptionMobile {
        display: contents;
    }

    .wrapperOptionDesktop {
        display: none;
    }

    .icoInfo {
        margin-top: 4px;
        margin-left: 5px;
    }
}

@media only screen and (min-width: 950px) {
    .container {
        margin-top: 0%;
    }
}

@media only screen and (max-width: 9000px) {
    .loadingIco {
        margin-top: 30px;
    }
}
