// @import 'styles/scss/variables/colors';
.outerWrapper {
    top: 0%;
    left: 0%;
    display: flex;
    position: absolute;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    transition: z-index linear 0s 0.3s;
}

.containerClose {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    display: flex;
    position: absolute;
    max-width: 868px;
    width: 100%;
    height: fit-content;
    z-index: 1;
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    border: 1px solid #000;
    flex-direction: column;
    padding: 60px;
    transition: z-index linear 0s 0.3s;
    border-radius: 10px;
    background-color: #dbe4eb;
}

.contentWrapper {
    margin-bottom: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.headerInfo {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.usernameInfoWrapper {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    margin-bottom: 21px;
}

.usernameInfo {
    font-size: 40px;
    text-transform: none !important;
    font-weight: 400;
    margin-top: -20px;
    color: #000;
}

.usernameInfoYellow {
    font-size: 40px;
    text-transform: none !important;
    font-weight: 400;
    color: #000;
}

.loginAddress {
    cursor: pointer;
    color: #000;
}

.icoInfo {
    margin-left: 14px;
    cursor: pointer;
}

.select {
    width: 100%;
}

.selectWrapper {
    display: flex;
    justify-content: space-between;
}

.paymentWrapper {
    width: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipientWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.inputAddrWrapper {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 47%;
}

.balanceInfoWrapepr {
    display: flex;
    margin-top: 2%;
}

.balanceInfo {
    font-size: 14px;
    color: #000;
}

.balanceInfoYellow {
    font-size: 14px;
    color: #000;
}

.addFundsToAddress {
    font-size: 14px;
    margin-top: -2%;
}

.originatorInfoWrapper {
    display: flex;
    margin-top: 2%;
}

.originatorType {
    font-size: 20px;
}

.originatorAddr {
    font-size: 20px;
    color: #000;
}

.fundsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin-top: 2%;
}

.transferInfoWrapper {
    display: flex;
    margin-top: 5%;
}

.transferInfo {
    font-size: 18px;
    color: #000;
}

.transferInfoYellow {
    font-size: 18px;
    color: #000;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 275px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    text-align: left;
    position: absolute;
    z-index: 2;
    bottom: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.modalInfoTitle {
    color: #000;
    font-size: 14px;
}

.wrapperLoading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loadingIco {
    margin-top: -1%;
}

.ico {
    display: flex;
}

.ico:hover .icoColor {
    visibility: visible;
}

.icoDefault {
    visibility: visible;
}

.icoColor {
    visibility: hidden;
    margin-left: -20px;
}

.txt {
    color: #000;
}

.input {
    border-color: #000 !important;
    color: #000 !important;
}

.input::placeholder {
    color: #767676 !important;
}

.gasTxt {
    color: #000;
    margin-top: 3%;
}

@media only screen and (max-width: 780px) {
    .container {
        max-width: 90%;
        margin-top: 30%;
    }

    .innerContainer {
        padding: 4%;
        padding-bottom: 100px;
    }

    .headerInfo {
        font-size: 12px;
    }

    .usernameInfoWrapper {
        flex-direction: column;
        margin-top: 5px;
    }

    .usernameInfo {
        font-size: 20px;
    }

    .usernameInfoYellow {
        font-size: 20px;
    }

    .loginAddress {
        font-size: 11px;
    }

    .selectWrapper {
        flex-direction: column;
    }

    .paymentWrapper {
        margin-left: 0%;
        margin-top: 2%;
    }

    .inputAddrWrapper {
        width: 100%;
    }

    .addFundsToAddress {
        font-size: 11px;
    }

    .originatorInfoWrapper {
        flex-direction: column;
    }

    .originatorType {
        font-size: 11px;
        margin-top: 2%;
    }

    .originatorAddr {
        font-size: 10px;
        margin-top: -8%;
    }

    .transferInfoWrapper {
        flex-direction: column;
    }

    .transferInfo {
        font-size: 11px;
    }

    .transferInfoYellow {
        font-size: 11px;
        margin-top: -8%;
    }

    .tooltip .tooltiptext {
        width: 250px;
        margin-left: -200px;
    }
}

@media only screen and (min-width: 950px) {
    .container {
        margin-top: 6%;
    }
}

@media only screen and (max-width: 9000px) {
    .loadingIco {
        margin-top: 30px;
    }
}
