// @import 'styles/scss/variables/colors';
.outerWrapper {
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  position: absolute;
  max-width: 100%;
  width: 100%;
  transition: z-index linear 0s 0.3s;
}

.containerClose {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container {
  margin-top: 10%;
  display: flex;
  position: relative;
  max-width: 868px;
  width: 100%;
  height: fit-content;
  z-index: 1;
  margin-bottom: 5%;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  border: 1px solid #fff;
  flex-direction: column;
  padding: 60px;
  transition: z-index linear 0s 0.3s;
  border-radius: 10px;
  background-color: black;
}

.closeIcon {
  align-self: flex-end;
  height: 15px;
  width: 15px;

  &:hover {
    cursor: pointer;
  }

  path {
    fill: #ffffff2e;
  }
}

.contentWrapper {
  margin-bottom: 5%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.headerInfo {
  font-size: 18px;
  font-weight: 400;
}

.usernameInfoWrapper {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  margin-bottom: 21px;
}

.usernameInfo {
  font-size: 40px;
  text-transform: none !important;
  font-weight: 400;
  margin-top: -20px;
}

.usernameInfoYellow {
  font-size: 40px;
  text-transform: none !important;
  font-weight: 400;
  color: #ffff32;
}

.loginAddress {
  cursor: pointer;
}

.icoInfo {
  margin-left: 14px;
  cursor: pointer;
}

.select {
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  margin-top: -15px;
}

.selectWrapper {
  display: flex;
  justify-content: space-between;
}

.paymentWrapper {
  width: 100%;
  margin-left: 5%;
}

.inputAddrWrapper {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 47%;
}

.balanceInfoWrapepr {
  display: flex;
  margin-top: 2%;
}

.balanceInfo {
  font-size: 14px;
}

.balanceInfoYellow {
  font-size: 14px;
  color: #ffff32;
}

.addFundsToAddress {
  font-size: 14px;
  margin-top: -2%;
}

.originatorInfoWrapper {
  display: flex;
  margin-top: 2%;
}

.originatorType {
  font-size: 20px;
}

.originatorAddr {
  font-size: 20px;
  color: #f9e600;
}

.fundsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin-top: 2%;
}

.transferInfoWrapper {
  display: flex;
  margin-top: 5%;
}

.transferInfo {
  font-size: 18px;
}

.transferInfoYellow {
  font-size: 18px;
  color: #ffff32;
}

@media only screen and (max-width: 750px) {
  .container {
    max-width: 90%;
  }

  .innerContainer {
    padding: 4%;
  }

  .headerInfo {
    font-size: 12px;
  }

  .usernameInfoWrapper {
    flex-direction: column;
    margin-top: 5px;
  }

  .usernameInfo {
    font-size: 20px;
  }

  .usernameInfoYellow {
    font-size: 20px;
  }

  .loginAddress {
    font-size: 11px;
  }

  .selectWrapper {
    flex-direction: column;
  }

  .paymentWrapper {
    margin-left: 0%;
    margin-top: 2%;
  }

  .inputAddrWrapper {
    width: 100%;
  }

  .addFundsToAddress {
    font-size: 11px;
  }

  .originatorInfoWrapper {
    flex-direction: column;
  }

  .originatorType {
    font-size: 11px;
    margin-top: 2%;
  }

  .originatorAddr {
    font-size: 10px;
    margin-top: -8%;
  }

  .transferInfoWrapper {
    flex-direction: column;
  }

  .transferInfo {
    font-size: 11px;
  }

  .transferInfoYellow {
    font-size: 11px;
    margin-top: -8%;
  }
}

@media only screen and (min-width: 950px) {
  .container {
    top: 30%;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    top: 60%;
  }
}

@media only screen and (min-width: 2500px) {
  .container {
    top: 30%;
  }
}