.container {
  top: 35%;
  left: 50%;
  display: flex;
  position: absolute;
  max-width: 700px;
  width: 100%;
  max-height: 100%;
  height: 100%;
  transform: translateY(-50%) translateX(-50%);
  transition: z-index linear 0s 0.3s;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  background: black;
  border: 1px solid white;
  flex-direction: column;
  padding: 5%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: z-index linear 0s 0.3s;
  border-radius: 10px;
}

.closeIcon {
  align-self: flex-end;
  height: 15px;
  width: 15px;

  &:hover {
    cursor: pointer;
  }

  path {
    fill: #ffffff2e;
  }
}
