.outerWrapper {
  top: 0%;
  left: 0%;
  display: flex;
  position: absolute;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  transition: z-index linear 0s 0.3s;
}

.container {
  top: 300px;
  left: 50%;
  display: flex;
  position: absolute;
  max-width: 900px;
  width: 100%;
  height: fit-content;
  transform: translateY(-50%) translateX(-50%);
  transition: z-index linear 0s 0.3s;
  background-color: red;
  z-index: 1;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  background: black;
  border: 1px solid white;
  flex-direction: column;
  padding: 4%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: z-index linear 0s 0.3s;
  border-radius: 10px;
}

.closeIcon {
  align-self: flex-end;
  height: 15px;
  width: 15px;

  &:hover {
    cursor: pointer;
  }

  path {
    fill: #ffffff2e;
  }
}

.headerModal {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputWrapper {
  margin-top: 45px;
}

.txtOr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.input {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
  font-size: 12px;
}

.inputDisabled {
  background-color: rgb(31, 31, 31);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
  font-size: 12px;
}

.btnContinueWrapper {
  margin-top: 30px;
}

.btnContinueSsiTxt {
  margin-top: 35%;
}

.titleContent {
  font-size: 20px;
}

.newSsiSub {
  font-size: 16px;
}

.separator {
  width: 1px;
  height: auto;
  background-color: #fff;
}

.addrWrapper {
  display: flex;
  margin-top: -40px;
}

.addr {
  color: rgba($color: #fff, $alpha: 0.7);
  margin-left: 10px;
  margin-top: 30px;
}

.arConnectIco {
  width: 20px;
  height: 20px;
  margin-top: 30px;
}

@media only screen and (max-width: 320px) {
  .container {
    top: 60%;
    width: 90%;
  }
}

@media only screen and (min-width: 375px) {
  .container {
    top: 60%;
    width: 90%;
  }
}

@media only screen and (min-width: 425px) {
  .container {
    top: 60%;
  }
}

@media only screen and (min-width: 550px) {
  .container {
    top: 70%;
  }
}

@media only screen and (min-width: 750px) {
  .container {
    top: 75%;
  }
}

@media only screen and (min-width: 950px) {
  .container {
    top: 40%;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    top: 50%;
  }
}

@media only screen and (min-width: 2500px) {
  .container {
    top: 40%;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
  }

  .separator {
    margin-bottom: 30px;
  }
}
