.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
}

.header {
    background-color: rgba($color: #0000ff, $alpha: 0.3);
}

.row {
    background-color: transparent !important;
}

.buttonWrapper {
    display: flex;
}

.btnAction {
    width: 150px;
    height: 32px;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #fff, $alpha: 0.2);
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
}

.txtList {
    font-size: 16px;
}

.txtListTitle {
    font-size: 16px;
    font-weight: 900;
}

.addCurrencyWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2%;
    align-items: flex-start;
}

.inputCurrency {
    max-width: 250px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.headerWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.dropdownCheckListWrapper {
    margin-bottom: 5%;
    width: fit-content;
}

.dropdownCheckList {
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
}

.wrapperOption {
    margin-top: 1%;
    background-color: #000;
    padding: 10px;
    position: absolute;
    width: 250px;
    border: 1px solid #0000ff;
    border-radius: 4px;
    max-height: 200px;
    overflow: auto;
}

.option {
    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    color: #dbe4eb;
    cursor: pointer;
}

.optionIco {
    margin-top: 3px;
    margin-right: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.thunder {
    cursor: pointer;
    border-radius: 50%;
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
}

.thunder:hover {
    border: 1px solid #ffff32;
}

.closeWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
}

.wrapperIcoContinue {
    z-index: 1;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.refreshIcoWrapper {
    display: flex;
    justify-content: flex-end;
}

.refreshIco {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: -7px;
}

.txt {
    color: #fff;
}

.title {
    color: #dbe4eb;
    text-transform: uppercase !important;
    word-break: break-all;
    letter-spacing: unset !important;
    margin-bottom: 2rem;
}

.tbl {
    display: contents;
}

.tblMobile {
    display: none;
}

.headerMobile {
    background-color: rgba($color: #0000ff, $alpha: 0.3) !important;
    border-top: 0px !important;
}

.buttonWrapperMobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tdMobile {
    display: flex;
}

.tdMobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.refreshIcoMobile {
    display: none;
}

@media only screen and (max-width: 850px) {
    .title {
        margin-bottom: 2rem;
    }

    .wrapper {
        width: 90%;
    }

    .tbl {
        display: none;
    }

    .tblMobile {
        display: contents;
    }

    .txtList {
        font-size: 14px;
        max-width: 11rem;
        word-wrap: break-word;
        text-align: left;
    }

    .buttonWrapper {
        flex-direction: column;
    }

    .btnAction {
        width: auto;
        height: auto;
        font-size: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 5px;
        background-color: #333333;
    }

    .headerWrapper {
        flex-direction: column;
    }

    .refreshIcoMobile {
        display: flex;
        width: 12px;
        height: 12px;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }

    .thunder {
        margin-right: 0px;
    }

    .row {
        border-color: rgba($color: #fff, $alpha: 0.5) !important;
    }
}
