.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50%;
}

.header {
  background-color: rgba($color: #fff, $alpha: 0.5);
}

.row {
  background-color: transparent !important;
}
