* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

button {
  background: transparent;
  cursor: pointer;
}
a {
  cursor: pointer;
  text-decoration: none;

  &:focus,
  &:active {
    color: unset;
    text-decoration: none;
  }
}

ul,
li {
  list-style-type: none;
}
