.dashboard {
    // background-color: #dbe4eb;
    background-color: #ffffff2e;
    color: black;
    padding: 22px;
    border-radius: 1px;
    margin-top: 11px;
    margin-bottom: 33px;
    position: relative;
    /* Add position relative to position the line */
    width: 100%;
    max-width: 400px;
}

.dashboardTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffff32;
    /* Set the top line color to yellow */
    /* Add other styling for the top line as needed */
}

.dashboard::before {
    content: '';
    position: absolute;
    //dashboard must have position:relative
    top: 0;
    // left: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #ffff32;
}

.rowRate {
    text-transform: uppercase;
    font-size: small;
    margin-left: 11px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.rowRate p {
    color: black;
    text-align: left;
    margin: 8px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .dashboard {
        padding: 14px;
    }

    .rowRate {
        font-size: small;
        margin-top: 13px;
        margin-bottom: 13px;
    }

    .rowRate p {
        margin: 7px 0;
    }
}

.equalsign {
    margin-left: 7px;
    display: inline-block;
    // vertical-align: middle;
    text-transform: none;
    font-weight: 400;
}

.equalsign::before {
    content: '=';
    position: relative;
    // top: 50%;
    left: -3px;
    color: white;
}

.title {
    color: white;
    font-weight: bold;
    text-align: left;
    margin-left: 11px;
    text-transform: uppercase;
    font-size: small;
    margin-top: 22px;
    margin-bottom: 22px;
    text-decoration: underline;
    text-decoration-color: #ffff32;
}
