.button {
  position: absolute !important;
  top: 4%;
  left: 4%;
  cursor: pointer;
}

.menu {
  position: absolute !important;
  top: 0%;
  left: 0%;
  width: 250px;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.back {
  cursor: pointer;
}
