.button {
  position: absolute !important;
  top: 2%;
  left: 2%;
  cursor: pointer;
}

.menu {
  position: absolute !important;
  top: 0%;
  left: 0%;
  width: 14%; //@todo changing the width does not seem to work
  height: 100%;
  background-color: #ffffff2e;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-left: 2%;
}

.back {
  cursor: pointer;
}

.menuItemWrapper {
  margin-top: 10%;
}

.menuItemText {
  cursor: pointer;
}

.menuItemTextActive {
  cursor: pointer;
  color: #ffff32;
}

.subMenuItemWrapper {
  padding-left: 7%;
  border-top: 1px solid silver;
  margin-bottom: 7%;
}

.subMenuItemListWrapper {
  display: flex;
  margin-top: 10%;
  padding-right: 7%;
  margin-bottom: 7%;
  cursor: pointer;
}

.subMenuItemListText {
  color: #c0c0c0;
  margin-left: 7%;
}

@media only screen and (max-width: 450px) {
  .menu {
    width: 70%;
  }
}

@media only screen and (min-width: 451px) {
  .menu {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .menu {
    width: 20%;
  }
}
