@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');

.outerWrapper {
    top: 0%;
    left: 0%;
    display: flex;
    position: absolute;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    transition: z-index linear 0s 0.3s;
}

.wrapperMenuBtn {
    position: absolute !important;
    top: 22px;
    left: 4%;
    display: flex;
    // min-height: 50px;
    align-items: center;
}

.button {
    cursor: pointer;
    margin-bottom: -10px;
}

.menu {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffffff2e;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    padding-right: 3%;
    border-right: 1px solid #ffff32;
}

.back {
    padding-top: 22px;
    cursor: pointer;
}

.menuItemWrapper {
    margin-top: 14%;
}

.menuItemText {
    cursor: pointer;
    margin-bottom: 14%;
    padding-left: 1%;
    padding-right: 2%;
}

.menuItemText:hover {
    color: #ffff32;
}

.menuItemTextActive {
    cursor: pointer;
    color: #ffff32;
}

.subMenuItemWrapper {
    padding-top: 10px;
    padding-left: 7%;
}

.subMenuItemListWrapper {
    display: flex;
    cursor: pointer;
}

.subMenuItemListText {
    margin-left: 7%;
    margin-top: 7%;
}

.wrapperContent {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.incognito {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.incognitoIco {
    width: 50px;
    cursor: pointer;
}

.txtIncognito {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

// @media only screen and (max-width: 450px) {
//     .menu {
//         width: 70%;
//     }
// }

@media only screen and (max-width: 767px) {
    .wrapperMenuBtn {
        top: 14px;
    }

    .back {
        padding-top: 14px;
    }

    .incognitoIco {
        width: 30px;
    }
}

// @media only screen and (min-width: 451px) {
//     .menu {
//         width: 40%;
//     }
// }

// @media only screen and (min-width: 1024px) {
//     .menu {
//         width: 20%;
//     }
// }
.menuItems {
    margin-top: 100%;
}
