@import url('https://fonts.googleapis.com/css?family=Noto+Sans+Mono');

.wrapper {
    margin-bottom: 14%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.contentWrapper {
    width: 600px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.containerInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 109%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.button {
    bottom: 30px;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px #ffffff;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-family: 'Noto Sans Mono';
    font-weight: 900;
    height: 2.75rem;
    letter-spacing: 0.2rem;
    line-height: 2.75rem;
    outline: 0;
    padding: 0 1.25rem 0 1.35rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #ffffff2e;
}

.username {
    text-transform: lowercase;
}

.x {
    text-transform: lowercase;
    color: lightblue;
}

.gascost {
    margin-top: 1%;
}

.error {
    position: absolute !important;
    left: 0%;
    bottom: -10%;
    display: inline-block;
}

.wrapperInputAddr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 109%;
}

.txt {
    color: #fff;
}

.input {
    width: 600px !important;
    margin-right: '2%';
    margin-left: -5px;
}

.ico {
    display: flex;
}

.icoInfo {
    margin-left: 14px;
    margin-top: -0.3rem;
    cursor: pointer;
}

.ico:hover .icoColor {
    visibility: visible;
}

.icoDefault {
    visibility: visible;
}

.icoColor {
    visibility: hidden;
    margin-left: -20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 275px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .contentWrapper {
        width: 90%;
    }
    .input {
        width: 100% !important;
    }
    .containerInput,
    .wrapperInputAddr {
        width: 100%;
    }
    .tooltip .tooltiptext {
        width: 250px;
        margin-left: -200px;
    }
}
