@import url("https://fonts.googleapis.com/css?family=Noto+Sans+Mono");

.button {
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 7px;
  outline: 0;
  cursor: pointer;
  padding: 0 0.6rem 0 0.8rem;
}

.buttonText {
  margin: 0;
  font-family: "Noto Sans Mono";
  font-weight: 400;
  color: whitesmoke;
}
